# Ignore everything
*
folders.icon.adjust.css
folders.hide.css

#But not these
!.gitignore
!README.md
!folders.colored.css
!folders.icon.css
!folders.icon.font.css
!folders.icon.font.css
!folders.icon.font-settings.css
!wysiwyg.*
!folders.icon.adjust.css
!CHANGELOG.md
!code_mirror_companion.css
!folder_note.css
!folder.color.css
!mini.folders.icons.css
!screenshot
!screenshot/*