/* @settings
name: "Live Preview Companion"
id: cm6-live-preview
settings:
    -
        id: clutter
        type: variable-number-slider
        default: 5
        min: 0
        max: 30
        step: 1
        title: Markdown clutter font size
        description: The size of the markdown clutter.
        format: px
    -
        id: code-display
        title: Display code backtick
        type: class-toggle
    -
        id: link-options
        type: heading
        level: 1
        title: Link's options
        collapsed: true
    -
        id: link-markdown
        type: heading
        level: 2
        title: Markdown Links
        collapsed: true
    -
        id: link-col
        title: Markdown link color
        type: variable-themed-color
        opacity: false
        format: hex
        default-light: "#0084FF"
        default-dark: "#0084FF"
    -
        id: md-hover-bg
        title: Background for hover
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: "#80CBEE00"
        default-dark: "#80CBEE00"
    -
        id: md-hover-font
        type: variable-themed-color
        title: Font for hover
        opacity: false
        format: hex
        default-light: "#0084FF"
        default-dark: "#0084FF"
    -
        id: wikilink-options
        type: heading
        level: 3
        collapsed: true
        title: Wikilinks
    -
        id: text-link
        title: Markdown Internal link Color
        type: variable-themed-color
        opacity: false
        format: hex
        default-light: "#0084FF"
        default-dark: "#0084FF"
    -
        id: wiki-hover-bg
        title: Hover background
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: "#80CBEE00"
        default-dark: "#80CBEE00"
    -
        id: wiki-hover-font
        title: Hover font
        type: variable-themed-color
        opacity: false
        format: hex
        default-light: "#0084FF"
        default-dark: "#0084FF"
    -
        id: header-tags
        title: Tags
        description: Change the color for the tags pills.
        type: heading
        level: 1
        collapsed: true
    -
        id: tag-background-color
        title: Tag Background Color
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#80cbee67'
        default-dark: '#80cbee67'
    -
        id: font-tag
        title: Tag color font
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#1d588f'
        default-dark: '#1d588f'
    -
        id: tag-border-color
        title: Tag border color
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: "#0493ec"
        default-dark: "#0493ec"
    -
        id: tag-up
        title: Tag Padding Up
        default: 0
        format: px
        type: variable-number
    -
        id: tag-left
        title: Tag Padding Left
        default: 4
        format: px
        type: variable-number
    -
        id: tag-bottom
        title: Tag Padding Bottom
        default: 4
        format: px
        type: variable-number
    -
        id: BlockQuote-heading
        type: heading
        level: 1
        title: Blockquote options
        collapsed: true
    -
        id: blockquote
        type: class-toggle
        title: Blockquote
        description: Add nice blockquote
    -
        id: border-all
        title: Border left-right
        type: variable-select
        default: dashed
        options:
            - solid
            - dashed
            - dotted
            - double
            - groove
            - ridge
            - inset
            - outset
            - hidden
    -
        id: border-bottom
        title: Border bottom
        type: variable-select
        default: dashed
        options:
            - solid
            - dashed
            - dotted
            - double
            - groove
            - ridge
            - inset
            - outset
            - hidden
    -
        id: border-top
        title: Border top
        type: variable-select
        default: dashed
        options:
            - solid
            - dashed
            - dotted
            - double
            - groove
            - ridge
            - inset
            - outset
            - hidden
*/


.theme-dark {
    --border: rgba(255, 255, 255, 0.548);
    --tag: #1d588f;
    --tag-background-color: #80cbee67;
    --tag-border-color: #0493ec;
    --link-col: #0084FF;
    --text-link: #0084FF;
    --wiki-hover-bg: #80CBEE00;
    --wiki-hover-font: #0084FF;
    --md-hover-font: #0084FF;
    --md-hover-bg: #80CBEE00;

}

.theme-light {
    --border: var(--text-normal);
    --font-tag: #1d588f;
    --tag-background-color: #80cbee67;
    --tag-border-color: #0493ec;
    --link-col: #0084FF;
    --text-link: #0084FF;
    --wiki-hover-bg: #80CBEE00;
    --wiki-hover-font: #0084FF;
    --md-hover-font: #0084FF;
    --md-hover-bg: #80CBEE00;

}

:root {
    --size-mobile: 15px;
    --clutter: 0.1em;
    --tag-up: 0px;
    --tag-left: 4px;
    --tag-bottom: 4px;
    --border-all: dashed;
    --border-top: dotted;
    --border-bottom: dotted;
}

.cm-s-obsidian * {
    -webkit-font-smoothing: auto;
}

/* tags */
.cm-s-obsidian span.cm-hashtag-end,
.cm-s-obsidian span.cm-hashtag-end:not(span.cm-comment.cm-hashtag.cm-meta.cm-hashtag-end) {
    background-color: var(--tag-background-color) !important;
    border: 1px solid var(--tag-border-color) !important;
    color: var(--font-tag) !important;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 10px;
    height: 30px !important;
    padding: 0 !important;
    z-index: 100 !important;
    font-family: inherit;
}

.tag:not(.kanban-plugin .tag) {
    background-color: var(--tag-background-color) !important;
    border: 1px solid var(--tag-border-color) !important;
    color: var(--font-tag) !important;
    font-size: 1rem !important;
    text-decoration: none;
    border-radius: 10px;
    z-index: 100 !important;
    font-family: inherit;
}

.cm-s-obsidian span.cm-hashtag-end:not(span.cm-comment.cm-hashtag.cm-meta.cm-hashtag-end) {
    font-size: 1em !important;
}

.cm-s-obsidian span.cm-hashtag-end,
.cm-s-obsidian span.cm-hashtag-end:not(span.cm-comment.cm-hashtag.cm-meta.cm-hashtag-end) {
    line-height: 30px !important;
    padding: var(--tag-up) var(--tag-left) var(--tag-bottom) !important;
}

.cm-s-obsidian span.cm-hashtag-end:hover,
a.tag:hover,
.markdown-preview-view a.tag:hover:not(.kanban-plugin .tag) {
    background-color: var(--font-tag) !important;
    color: #ffffff !important;
}

div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hashtag-end:hover,
.cm-s-obsidian span.cm-hashtag-end:hover,
.wys-enhanced div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hashtag-end:hover,
a.tag:hover,
.markdown-preview-view a.tag:hover:not(.kanban-plugin .tag) {
    background-color: var(--font-tag) !important;
    color: #ffffff !important;
}

.markdown-preview-view a.tag:not(.kanban-plugin .tag) {
    color: var(--font-tag) !important;
    background-color: var(--tag-background-color) !important;
    padding: 4px calc(var(--tag-left) + 2px) !important;
}

.tag {
    padding: 0 !important;
}


span.cm-comment.cm-hashtag.cm-meta.cm-hashtag-end.cm-tag-Review.lt-underline.lt-major {
    padding: calc(var(--tag-up) + 3px) calc(var(--tag-left) + 2px) var(--tag-bottom) !important;
}

/* Header tags */

span.cm-header.cm-header-1.cm-hashtag.cm-meta.cm-hashtag-end {
    padding: 0 5px !important;
    font-size: var(--h1) !important;
    position: relative;
    top: -1px !important;
}

span.cm-header.cm-header-2.cm-hashtag.cm-meta.cm-hashtag-end {
    font-size: var(--h2) !important;
    padding: 0 5px !important;
    position: relative;
    top: -1px !important;
}

span.cm-header.cm-header-3.cm-hashtag.cm-meta.cm-hashtag-end {
    font-size: var(--h3) !important;
    padding: 3px 4px !important;
    position: relative;
    top: -1px !important;
}

span.cm-header.cm-header-4.cm-hashtag.cm-meta.cm-hashtag-end {
    font-size: var(--h4) !important;
    padding: 0px 5px !important;
    position: relative;
    top: -1px !important;
}

span.cm-header.cm-header-5.cm-hashtag.cm-meta.cm-hashtag-end {
    font-size: var(--h5) !important;
    padding: 3px !important;
    position: relative;
    top: -1px !important;
}

span.cm-header.cm-header-6.cm-hashtag.cm-meta.cm-hashtag-end {
    font-size: var(--h6) !important;
    padding-top: 3px !important;
    padding-right: 8px !important;
    position: relative;
    top: -1px !important;
    margin-left: 3px !important;
}

/* Templater Update compatibility */

.cm-s-obsidian .cm-templater-command.cm-property,
.cm-s-obsidian .cm-templater-command.cm-variable,
span.cm-templater-command.cm-undefined {
    font-size: 0.85em !important;
    opacity: 1 !important;
}

span.cm-templater-command.cm-string {
    display: inline !important;
    opacity: 1 !important;
    font-size: 0.85em !important;
}

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
    background-color: var(--text-mark);
    color: var(--text-normal);
}


span.cm-formatting.cm-formatting-strong.cm-strong,
span.cm-formatting.cm-formatting-em.cm-em {
    font-size: 50%;
}

.code-display .cm-s-obsidian pre.HyperMD-codeblock span.cm-formatting-code-block,
.code-display span.cm-formatting.cm-formatting-code-block.cm-hmd-codeblock,
.code-display body.unified-cm-highlighting[class*="theme-"] .cm-s-obsidian pre.HyperMD-codeblock .cm-comment {
    font-size: var(--clutter) !important;
    display: inline;
}

span.cm-formatting.cm-formatting-code.cm-inline-code,
body.unified-cm-highlighting[class*="theme-"] .cm-s-obsidian pre.HyperMD-codeblock .cm-comment {
    background-color: transparent !important;
}

span.cm-string.cm-hmd-codeblock,
span.cm-hmd-escape-backslash,
span.cm-formatting-escape.cm-hmd-escape-backslash {
    display: inline !important;
    font-size: inherit !important;
    opacity: 1 !important;
}

span.cm-string.cm-hmd-frontmatter {
    display: inline !important;
    opacity: 1 !important;
}

.cm-formatting:not(
    .cm-formatting-list,
    .cm-formatting-task,
    span.cm-formatting-code-block,
    span.cm-formatting.cm-formatting-link-string,
    span.cm-formatting.cm-formatting-link
) {
    font-size: var(--clutter) !important;
}

/* List marker */

span.cm-formatting-list,
span.cm-formatting-code-block.cm-hmd-codeblock {
    display: inline !important;
    font-family: var(--font-monospace);
    visibility: visible !important;
    opacity: 1;
    color: var(--text-faint);
}

/* Blockquote */

.blockquote .HyperMD-quote.HyperMD-quote-1 {
    font-style: italic;
    border-radius: 8px;
    border: 2px var(--border-all) var(--background-modifier-border);
    border-top: 2px var(--border-top) var(--background-modifier-border);
    border-bottom: 2px var(--border-bottom) var(--background-modifier-border);
    margin: -1px;
}


/* escape */
span.cm-formatting-escape:not(span.cm-formatting-escape.cm-hmd-escape-backslash) {
    opacity: var(--markdown-opacity) !important;
    font-size: var(--clutter) !important;
    display: inline !important;
}

/* comment */

span.cm-comment.cm-formatting.cm-formatting-code-block.cm-hmd-codeblock,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-formatting-code-block {
    font-size: calc(var(--clutter) + 1rem);
}


.cm-s-obsidian span.cm-comment {
    opacity: 0.5;
    font-size: calc(var(--clutter) + 5px);
}

.cm-active.cm-line > span.cm-comment {
    opacity: 1;
}

/* HR */
.markdown-preview-section hr {
    margin: 0 !important;
}

.markdown-preview-section hr:after {
    background: lightgrey !important;
    opacity: 100%;
}

.cm-s-obsidian span.cm-formatting-task {
    font-size: smaller !important;
}

/* ======== TAGS ======== */
span.cm-tag.cm-bracket.cm-hmd-html-begin,
span.cm-tag,
span.cm-tag.cm-bracket,
span.cm-tag.cm-bracket.cm-hmd-html-end,
span.cm-attribute,
span.cm-string {
    font-size: small;
    opacity: calc(var(--markdown-opacity) + 0.3);
}


span.cm-header.cm-header-1.cm-hashtag.cm-meta.cm-hashtag-end {
    padding: 0 5px 1em !important;
    font-size: calc(var(--editor-font-size) + 0.8em) !important;
}

span.cm-header.cm-header-2.cm-hashtag.cm-meta.cm-hashtag-end {
    font-size: calc(var(--editor-font-size) + 0.5em) !important;
    padding: 0 5px 1.2em !important;
}

span.cm-header.cm-header-3.cm-hashtag.cm-meta.cm-hashtag-end {
    font-size: calc(var(--editor-font-size) + 0.4em) !important;
    padding: 0 5px 1.2em !important;
}

span.cm-header.cm-header-4.cm-hashtag.cm-meta.cm-hashtag-end {
    font-size: calc(var(--editor-font-size) + 0.3em) !important;
    padding: 0 5px 1.5em !important;
}

span.cm-header.cm-header-5.cm-hashtag.cm-meta.cm-hashtag-end {
    font-size: calc(var(--editor-font-size) + 0.1em) !important;
    line-height: 1em !important;
    padding: 5px;
}

span.cm-header.cm-header-6.cm-hashtag.cm-meta.cm-hashtag-end {
    font-size: calc(var(--editor-font-size) + 0.05em) !important;
    padding: 5px;
    line-height: 1em !important;
}


/* Links */

span.cm-hmd-internal-link {
    color: var(--text-link) !important;
}

span.cm-link {
    color: var(--link-col) !important;
    text-decoration: underline !important;
}

span.cm-hmd-internal-link:hover {
    color: var(--wiki-hover-font) !important;
    background-color: var(--wiki-hover-bg) !important;
    text-decoration: none !important;
}

span.cm-link:hover {
    color: var(--md-hover-font) !important;
    background-color: var(--md-hover-bg) !important;
    text-decoration: none !important;

}