/* @settings
name: "Live Preview Companion"
id: cm6-live-preview
settings:
    -
        id: clutter
        type: variable-number-slider
        default: 5
        min: 0
        max: 30
        step: 1
        title: Markdown clutter font size
        description: The size of the markdown clutter.
        format: px
    -
        id: code-display
        title: Display code backtick
        type: class-toggle
    -
        id: link-options
        type: heading
        level: 1
        title: Link's options
        collapsed: true
    -
        id: link-markdown
        type: heading
        level: 2
        title: Markdown Links
        collapsed: true
    -
        id: link-col
        title: Markdown link color
        type: variable-themed-color
        opacity: false
        format: hex
        default-light: "#0084FF"
        default-dark: "#0084FF"
    -
        id: md-hover-bg
        title: Background for hover
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: "#80CBEE00"
        default-dark: "#80CBEE00"
    -
        id: md-hover-font
        type: variable-themed-color
        title: Font for hover
        opacity: false
        format: hex
        default-light: "#0084FF"
        default-dark: "#0084FF"
    -
        id: wikilink-options
        type: heading
        level: 3
        collapsed: true
        title: Wikilinks
    -
        id: resolved
        type: heading
        level: 4
        collapsed: true
        title: Resolved Links
    -
        id: text-link
        title: Markdown Internal link Color
        type: variable-themed-color
        opacity: false
        format: hex
        default-light: "#0084FF"
        default-dark: "#0084FF"
    -
        id: wiki-hover-bg
        title: Hover background
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: "#80CBEE00"
        default-dark: "#80CBEE00"
    -
        id: wiki-hover-font
        title: Hover font
        type: variable-themed-color
        opacity: false
        format: hex
        default-light: "#0084FF"
        default-dark: "#0084FF"
    -
        id: unresolved
        type: heading
        level: 4
        title: Unresolved Links
        collapsed: true
    -
        id: link-unresolved
        title: Background Color
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: "#D2D5E457"
        default-dark: "#D2D5E457"
    -
        id: font-unresolved
        title: Font Color
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: "#C6C6C6"
        default-dark: "#C6C6C6"
    -
        id: font-hover-unre
        title: Color Font on hover
        type: variable-themed-color
        opacity: false
        format: hex
        default-light: "#4B555B"
        default-dark: "#4B555B"
    -
        id: header-tags
        title: Tags
        description: Change the color for the tags pills.
        type: heading
        level: 1
        collapsed: true
    -
        id: tag-background-color
        title: Tag Background Color
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#80cbee67'
        default-dark: '#80cbee67'
    -
        id: font-tag
        title: Tag color font
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: '#1d588f'
        default-dark: '#1d588f'
    -
        id: tag-border-color
        title: Tag border color
        type: variable-themed-color
        opacity: true
        format: hex
        default-light: "#0493ec"
        default-dark: "#0493ec"
    -
        id: tag-up
        title: Tag Padding Up
        default: 0
        format: px
        type: variable-number
    -
        id: tag-left
        title: Tag Padding Left
        default: 4
        format: px
        type: variable-number
    -
        id: tag-bottom
        title: Tag Padding Bottom
        default: 4
        format: px
        type: variable-number
*/

.theme-dark {
  --border: rgba(255, 255, 255, 0.548);
  --tag: #1d588f;
  --tag-background-color: #80cbee67;
  --tag-border-color: #0493ec;
  --link-col: #0084ff;
  --text-link: #0084ff;
  --wiki-hover-bg: #80cbee00;
  --wiki-hover-font: #0084ff;
  --md-hover-font: #0084ff;
  --md-hover-bg: #80cbee00;
  --link-unresolved: #d2d5e457;
  --font-unresolved: #c6c6c6;
  --font-hover-unre: #4b555b;
}

.theme-light {
  --border: var(--text-normal);
  --font-tag: #1d588f;
  --tag-background-color: #80cbee67;
  --tag-border-color: #0493ec;
  --link-col: #0084ff;
  --text-link: #0084ff;
  --wiki-hover-bg: #80cbee00;
  --wiki-hover-font: #0084ff;
  --md-hover-font: #0084ff;
  --md-hover-bg: #80cbee00;
  --link-unresolved: #d2d5e457;
  --font-unresolved: #c6c6c6;
  --font-hover-unre: #4b555b;
}

:root {
  --size-mobile: 15px;
  --clutter: 0.1em;
  --tag-up: 0px;
  --tag-left: 4px;
  --tag-bottom: 4px;
}

.cm-s-obsidian * {
  -webkit-font-smoothing: auto;
}

/* tags */

div:not(.cm-active.cm-line)
  > span.cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin {
  display: none;
}

.cm-s-obsidian span.cm-hashtag-end,
.cm-s-obsidian
  span.cm-hashtag-end:not(span.cm-comment.cm-hashtag.cm-meta.cm-hashtag-end) {
  background-color: var(--tag-background-color);
  border: 1px solid var(--tag-border-color);
  color: var(--font-tag);
  text-decoration: none;
  border-radius: 10px;
  height: 30px;
  padding: 0;
  z-index: 100;
  font-family: inherit;
}

.tag:not(.kanban-plugin .tag) {
  background-color: var(--tag-background-color) !important;
  border: 1px solid var(--tag-border-color) !important;
  color: var(--font-tag) !important;
  font-size: 1rem !important;
  text-decoration: none;
  border-radius: 10px;
  z-index: 100 !important;
  font-family: inherit;
}

.cm-s-obsidian span.cm-hashtag-end,
.cm-s-obsidian
  span.cm-hashtag-end:not(span.cm-comment.cm-hashtag.cm-meta.cm-hashtag-end) {
  line-height: 1.8em !important;
  padding: var(--tag-up) var(--tag-left) var(--tag-bottom) !important;
}

.cm-s-obsidian span.cm-hashtag-end:hover,
a.tag:hover,
.markdown-preview-view a.tag:hover:not(.kanban-plugin .tag) {
  background-color: var(--font-tag) !important;
  color: #ffffff !important;
}

div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-hashtag-end:hover,
.cm-s-obsidian span.cm-hashtag-end:hover,
.wys-enhanced
  div:not(.CodeMirror-activeline)
  > .CodeMirror-line
  span.cm-hashtag-end:hover,
a.tag:hover,
.markdown-preview-view a.tag:hover:not(.kanban-plugin .tag) {
  background-color: var(--font-tag) !important;
  color: #ffffff !important;
}

.markdown-preview-view a.tag:not(.kanban-plugin .tag) {
  color: var(--font-tag) !important;
  background-color: var(--tag-background-color) !important;
  padding: 4px calc(var(--tag-left) + 2px) !important;
}

.tag {
  padding: 0 !important;
}

span.cm-comment.cm-hashtag.cm-meta.cm-hashtag-end.cm-tag-Review.lt-underline.lt-major {
  padding: calc(var(--tag-up) + 3px) calc(var(--tag-left) + 2px)
    var(--tag-bottom) !important;
}

/* Header tags */

span.cm-header.cm-header-1.cm-hashtag.cm-meta.cm-hashtag-end {
  padding: 0 5px !important;
  font-size: var(--h1) !important;
  position: relative;
  top: -1px !important;
}

span.cm-header.cm-header-2.cm-hashtag.cm-meta.cm-hashtag-end {
  font-size: var(--h2) !important;
  padding: 0 5px !important;
  position: relative;
  top: -1px !important;
}

span.cm-header.cm-header-3.cm-hashtag.cm-meta.cm-hashtag-end {
  font-size: var(--h3) !important;
  padding: 3px 4px !important;
  position: relative;
  top: -1px !important;
}

span.cm-header.cm-header-4.cm-hashtag.cm-meta.cm-hashtag-end {
  font-size: var(--h4) !important;
  padding: 0px 5px !important;
  position: relative;
  top: -1px !important;
}

span.cm-header.cm-header-5.cm-hashtag.cm-meta.cm-hashtag-end {
  font-size: var(--h5) !important;
  padding: 3px !important;
  position: relative;
  top: -1px !important;
}

span.cm-header.cm-header-6.cm-hashtag.cm-meta.cm-hashtag-end {
  font-size: var(--h6) !important;
  padding-top: 3px !important;
  padding-right: 8px !important;
  position: relative;
  top: -1px !important;
  margin-left: 3px !important;
}

/* Templater Update compatibility */

.cm-s-obsidian .cm-templater-command.cm-property,
.cm-s-obsidian .cm-templater-command.cm-variable,
span.cm-templater-command.cm-undefined {
  font-size: 0.85em !important;
  opacity: 1 !important;
}

span.cm-templater-command.cm-string {
  display: inline !important;
  opacity: 1 !important;
  font-size: 0.85em !important;
}

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: var(--text-mark);
  color: var(--text-normal);
}

span.cm-formatting.cm-formatting-strong.cm-strong,
span.cm-formatting.cm-formatting-em.cm-em {
  font-size: 50%;
}

.code-display
  .cm-s-obsidian
  pre.HyperMD-codeblock
  span.cm-formatting-code-block,
.code-display span.cm-formatting.cm-formatting-code-block.cm-hmd-codeblock,
.code-display
  body.unified-cm-highlighting[class*="theme-"]
  .cm-s-obsidian
  pre.HyperMD-codeblock
  .cm-comment {
  font-size: var(--clutter) !important;
  display: inline;
}

span.cm-formatting.cm-formatting-code.cm-inline-code,
body.unified-cm-highlighting[class*="theme-"]
  .cm-s-obsidian
  pre.HyperMD-codeblock
  .cm-comment {
  background-color: transparent !important;
}

span.cm-string.cm-hmd-codeblock,
span.cm-hmd-escape-backslash,
span.cm-formatting-escape.cm-hmd-escape-backslash {
  display: inline !important;
  font-size: inherit !important;
  opacity: 1 !important;
}

span.cm-string.cm-hmd-frontmatter {
  display: inline !important;
  opacity: 1 !important;
}

.cm-formatting:not(.cm-formatting-list, .cm-formatting-task, span.cm-formatting-code-block, span.cm-formatting.cm-formatting-link-string, span.cm-formatting.cm-formatting-link) {
  font-size: var(--clutter) !important;
}

/* List marker */

span.cm-formatting-list,
span.cm-formatting-code-block.cm-hmd-codeblock {
  display: inline !important;
  font-family: var(--font-monospace);
  visibility: visible !important;
  opacity: 1;
  color: var(--text-faint);
}

.markdown-source-view.mod-cm6 .cm-hmd-list-indent {
  display: inline !important;
}

/* escape */
.cm-active.cm-line
  > span.cm-formatting-escape:not(span.cm-formatting-escape.cm-hmd-escape-backslash) {
  opacity: var(--markdown-opacity) !important;
  display: inline !important;
}

/* comment */

span.cm-comment.cm-formatting.cm-formatting-code-block.cm-hmd-codeblock,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-formatting-code-block {
  font-size: calc(var(--clutter) + 1rem);
}

.cm-s-obsidian span.cm-comment {
  opacity: 0.5;
  font-size: calc(var(--clutter) + 5px);
}

.cm-active.cm-line > span.cm-comment {
  opacity: 1;
}

/* HR */
.markdown-preview-section hr {
  margin: 0 !important;
}

.markdown-preview-section hr:after {
  background: lightgrey !important;
  opacity: 100%;
}

.cm-s-obsidian span.cm-formatting-task {
  font-size: smaller !important;
}

/* ======== TAGS ======== */
span.cm-tag.cm-bracket.cm-hmd-html-begin,
span.cm-tag,
span.cm-tag.cm-bracket,
span.cm-tag.cm-bracket.cm-hmd-html-end,
span.cm-attribute,
span.cm-string {
  font-size: small;
  opacity: calc(var(--markdown-opacity) + 0.3);
}

span.cm-header.cm-header-1.cm-hashtag.cm-meta.cm-hashtag-end {
  padding: 0 5px 1em !important;
  font-size: calc(var(--editor-font-size) + 0.8em) !important;
}

span.cm-header.cm-header-2.cm-hashtag.cm-meta.cm-hashtag-end {
  font-size: calc(var(--editor-font-size) + 0.5em) !important;
  padding: 0 5px 1.2em !important;
}

span.cm-header.cm-header-3.cm-hashtag.cm-meta.cm-hashtag-end {
  font-size: calc(var(--editor-font-size) + 0.4em) !important;
  padding: 0 5px 1.2em !important;
}

span.cm-header.cm-header-4.cm-hashtag.cm-meta.cm-hashtag-end {
  font-size: calc(var(--editor-font-size) + 0.3em) !important;
  padding: 0 5px 1.5em !important;
}

span.cm-header.cm-header-5.cm-hashtag.cm-meta.cm-hashtag-end {
  font-size: calc(var(--editor-font-size) + 0.1em) !important;
  line-height: 1em !important;
  padding: 5px;
}

span.cm-header.cm-header-6.cm-hashtag.cm-meta.cm-hashtag-end {
  font-size: calc(var(--editor-font-size) + 0.05em) !important;
  padding: 5px;
  line-height: 1em !important;
}

/* Links */

.markdown-source-view.mod-cm6 .is-unresolved {
  opacity: 1 !important;
}

span.is-unresolved .cm-underline {
  background-color: var(--link-unresolved) !important;
  color: var(--font-unresolved) !important;
  text-decoration: none !important;
  opacity: 1 !important;
}

span.is-unresolved .cm-underline:hover {
  color: var(--font-hover-unre) !important;
  text-decoration: underline !important;
}

.markdown-source-view.mod-cm6 .cm-underline {
  text-decoration: none;
}

span.cm-hmd-internal-link:not(.is-unresolved) {
  color: var(--text-link);
  border-bottom: none !important;
}

span.cm-link:not(.is-unresolved) {
  color: var(--link-col);
}

.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string,
.theme-light .cm-operator,
.theme-light .cm-string,
.theme-light .cm-string-2,
.theme-light .cm-link {
  background-color: transparent;
}

span.cm-hmd-internal-link:hover {
  filter: saturate(200%);
  text-decoration: none !important;
}

span.cm-link:hover {
  filter: saturate(200%);
  text-decoration: none !important;
}

/* escape */

span.cm-formatting-escape {
  opacity: 0 !important;
}

/* Code blocks */
/* Source : Murf */

.HyperMD-codeblock.HyperMD-codeblock-begin.cm-line > span.cm-hmd-codeblock,
.HyperMD-codeblock.HyperMD-codeblock-end.cm-line > span.cm-hmd-codeblock {
  font-size: 0px;
}

.HyperMD-codeblock.HyperMD-codeblock-begin.cm-line.cm-active > span,
.HyperMD-codeblock.HyperMD-codeblock-begin.cm-line.cm-selection > span,
.HyperMD-codeblock.HyperMD-codeblock-end.cm-line.cm-active > span,
.HyperMD-codeblock.HyperMD-codeblock-end.cm-line.cm-selection > span {
  font-size: unset;
}
