/* 
==============================================================================  
                            FOLDER NOTE EXAMPLE [PC]
    credit : Mara-Li
    Plugins :
    - FolderNote & FolderNote core : https://github.com/aidenlx/alx-folder-note
    - Icon Folder : https://github.com/FlorianWoelki/obsidian-icon-folder

  You need to change the data-path to corresponding to your folder.

============================================================================== */


@media only screen and (min-device-width: 1024px) {
  /* PC */
  .nav-file-title svg:not(.right-triangle) {
    margin-left: 2px !important;
  }

  .nav-file-title-content,
  .nav-folder-title-content {
    padding-left: 0;
  }

  .nav-folder-title[data-path*="21. Idées/"] .nav-folder-title-content,
  .nav-folder-title[data-path*="21. Idées/"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="22. Personnages/"] .nav-folder-title-content,
  .nav-folder-title[data-path*="22. Personnages/"] svg:not(.right-triangle)
  {
    position: relative !important;
    right: 1.05em;
  }

  .nav-folder-title[data-path*="21. Idées/"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="22. Personnages/"] svg:not(.right-triangle)
  {
    vertical-align: middle !important;
  }

  .alx-folder-with-note
    .nav-folder-title[data-path*="Illustration"]
    svg:not(.right-triangle) {
    margin-left: 0.8em;
    margin-right: 0;
  }

  .alx-folder-with-note .nav-folder-title[data-path*="22. Personnages/"] .collapse-icon,
  .alx-folder-with-note .nav-folder-title[data-path*="21. Idées/"] .collapse-icon {
    right: 25px !important;
    position: relative !important;
    font-size: calc(var(--size) - 1px) !important;
    padding-left: 1px !important;
  }
}

.nav-folder.alx-folder-with-note
  > .nav-folder-title
  > .nav-folder-title-content {
  text-decoration: none !important;
}

.nav-folder.alx-folder-with-note
  > .nav-folder-title
  > .nav-folder-title-content:after {
  display: none;
}
