@media only screen and (max-device-width: 1024px) {
}

@media only screen and (min-device-width: 1024px) {
  /* PC */
  .nav-file-title svg:not(.right-triangle) {
    margin-left: 2px !important;
  }

  .nav-file-title-content,
  .nav-folder-title-content {
    padding-left: 0;
  }

  .nav-folder-title[data-path*="Pouvoir"] .nav-folder-title-content,
  .nav-folder-title[data-path*="Pouvoir"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Zombie"] .nav-folder-title-content,
  .nav-folder-title[data-path*="Zombie"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Écho"] .nav-folder-title-content,
  .nav-folder-title[data-path*="Écho"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Quinn"] .nav-folder-title-content,
  .nav-folder-title[data-path*="Quinn"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Alwyn"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Alwyn"] .nav-folder-title-content,
  .nav-folder-title[data-path*="Hayleen"] .nav-folder-title-content,
  .nav-folder-title[data-path*="Hayleen"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Mnémosyne"] .nav-folder-title-content,
  .nav-folder-title[data-path*="Mnémosyne"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Ashling"] .nav-folder-title-content,
  .nav-folder-title[data-path*="Ashling"] svg:not(.right-triangle) {
    position: relative !important;
    right: 1.05em;
  }

  .nav-folder-title[data-path*="Pouvoir"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Zombie"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Écho"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Hayleen"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Quinn"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Ashling"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Mnémosyne"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Alwyn"] svg:not(.right-triangle),
  .nav-file-title[data-path*="Personnages/"] svg:not(.right-triangle) {
    vertical-align: middle !important;
  }

  .alx-folder-with-note
    .nav-folder-title[data-path*="Illustration"]
    svg:not(.right-triangle) {
    margin-left: 0.8em;
    margin-right: 0;
  }

  .alx-folder-with-note
    .nav-folder-title[data-path*="Hayleen May"]
    .collapse-icon,
  .alx-folder-with-note
    .nav-folder-title[data-path*="Mnémosyne"]
    .collapse-icon,
  .alx-folder-with-note .nav-folder-title[data-path*="Quinn"] .collapse-icon,
  .alx-folder-with-note .nav-folder-title[data-path*="Alwyn"] .collapse-icon,
  .alx-folder-with-note .nav-folder-title[data-path*="Pouvoirs"] .collapse-icon,
  .alx-folder-with-note .nav-folder-title[data-path*="Écho"] .collapse-icon,
  .alx-folder-with-note .nav-folder-title[data-path*="Zombie"] .collapse-icon,
  .alx-folder-with-note
    .nav-folder-title[data-path*="Ashling May"]
    .collapse-icon {
    right: 25px !important;
    position: relative !important;
    font-size: calc(var(--size) - 1px) !important;
    padding-left: 1px !important;
  }
}

.nav-folder.alx-folder-with-note
  > .nav-folder-title
  > .nav-folder-title-content {
  text-decoration: none !important;
}

.nav-folder.alx-folder-with-note
  > .nav-folder-title
  > .nav-folder-title-content:after {
  display: none;
}
