@media only screen and (max-device-width: 1024px) {
    /* Mobile */
    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"][data-path*="Illustration"] .nav-folder-title-content::before,
    .nav-folder-title[data-path*="20."][data-path*="Mnémosyne"][data-path*="Illustration"] .nav-folder-title-content::before {
        padding-left: 0.9em;
    }
    .nav-folder-title[data-path*="31."][data-path*="Ashling May"][data-path*="Illustration"] .nav-folder-title-content::before,
    .nav-folder-title[data-path*="31."][data-path*="Hayleen May"][data-path*="Illustration"] .nav-folder-title-content::before,
    .nav-folder-title[data-path*="31."][data-path*="Mnémosyne"][data-path*="Illustration"] .nav-folder-title-content::before,
    {
        margin-left: 1.4em !important;
    }
    .nav-folder-title[data-path^='20.'][data-path*="20."][data-path*="Hayleen May"] .nav-folder-title-content::before,
    .nav-folder-title[data-path^='20.'][data-path*="20."][data-path*="Mnémosyne"] .nav-folder-title-content::before {
        vertical-align: middle !important;
        margin-left: 0.3em !important;
        position: relative;
        left: 0 !important;
        top: 0 !important;
        padding-right: 0.3em !important;
    }
    .nav-folder-title[data-path*="20"][data-path*="Hayleen May"] div.nav-folder-title-content,
    .nav-folder-title[data-path*="20"][data-path*="Mnémosyne"] div.nav-folder-title-content {
        right: 1.3em !important;
        position: relative !important;
    }
    .nav-folder-title[data-path*="31"][data-path*="Ashling May"] div.nav-folder-title-content::before,
    .nav-folder-title[data-path*="31"][data-path*="Hayleen May"] div.nav-folder-title-content::before,
    .nav-folder-title[data-path*="31"][data-path*="Mnémosyne"] div.nav-folder-title-content::before
    {
        vertical-align: -3px !important;
        margin-right: O.5em !important;
        margin-left: 0.5em !important;
        position: relative;
        left: 0 !important;
    }
    .nav-folder-title[data-path*="31"][data-path*="Ashling May"] div.nav-folder-title-content,
    .nav-folder-title[data-path*="31"][data-path*="Hayleen May"] div.nav-folder-title-content,
    .nav-folder-title[data-path*="31"][data-path*="Mnémosyne"] div.nav-folder-title-content {
        right: 1.5em;
        position: relative !important;
    }
    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"] .collapse-icon,
    .nav-folder-title[data-path*="31"][data-path*="Ashling May"] .collapse-icon,
    .nav-folder-title[data-path*="20."][data-path*="Mnémosyne"] .collapse-icon {
        right: 1.5em !important;
        position: relative !important;
        font-size: calc(var(--size) - 1px) !important;
        padding-left: 3px !important;
    }
}

@media only screen and (min-device-width: 1024px) {
/* PC */

    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"] .nav-folder-title-content,
    .nav-folder-title[data-path*="31."][data-path*="Hayleen May"] .nav-folder-title-content,
    .nav-folder-title[data-path*="20."][data-path*="Mnémosyne"] .nav-folder-title-content,    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"] .nav-folder-title-content,
    .nav-folder-title[data-path*="31."][data-path*="Mnémosyne"] .nav-folder-title-content,
    .nav-folder-title[data-path*="31"][data-path*="Ashling May"] div.nav-folder-title-content {
        left: -1.2em !important;
        position: relative !important;
    }


    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"] .collapse-icon,
    .nav-folder-title[data-path*="31."][data-path*="Hayleen May"] .collapse-icon,
    .nav-folder-title[data-path*="20."][data-path*="Mnémosyne"] .collapse-icon,
    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"] .collapse-icon,
    .nav-folder-title[data-path*="31"][data-path*="Mnémosyne"] .collapse-icon,
    .nav-folder-title[data-path*="31"][data-path*="Ashling May"] .collapse-icon {
        right: 25px !important;
        position: relative !important;
        font-size: calc(var(--size) - 1px) !important;
        padding-left: 1px !important;
    }
}

.nav-folder-title[data-path^="20."][data-path*="20."][data-path*="Hayleen May"] .nav-folder-title-content::before,
.nav-folder-title[data-path*="31."][data-path*="Hayleen May"] .nav-folder-title-content::before,
.nav-folder-title[data-path^="20."][data-path*="20."][data-path*="Mnémosyne"] .nav-folder-title-content::before,
.nav-folder-title[data-path*="31."][data-path*="Mnémosyne"] .nav-folder-title-content::before,
.nav-folder-title[data-path*="31"][data-path*="Ashling May"] div.nav-folder-title-content::before {
    content: "\ea37" !important;
    font-family: boxicons !important;
    font-size: var(--size) !important;
}


.nav-folder-title[data-path*="20."][data-path*="Hayleen May"][data-path*="Illustration"] .nav-folder-title-content::before,
.nav-folder-title[data-path*="31."][data-path*="Hayleen May"][data-path*="Illustration"] .nav-folder-title-content::before,
.nav-folder-title[data-path*="20."][data-path*="Mnémosyne"][data-path*="Illustration"] .nav-folder-title-content::before,
.nav-folder-title[data-path*="31."][data-path*="Mnémosyne"][data-path*="Illustration"] .nav-folder-title-content::before,
.nav-folder-title[data-path*="31."][data-path*="Ashling May"][data-path*="Illustration"] .nav-folder-title-content::before {
    content: "\e416" !important;
    font-family: "Material Icons" !important;
    font-size: calc(var(--size) + 1px) !important;
}