/* @settings
name: "Folder Icons - Color settings"
id: icons color
settings:
    -
        id: settings-font
        level: 1
        collapsed: true
        type: heading
        title: General settings
        description: font and files settings
    -
		id: files
		title: Files icon
		type: class-toggle
    -
        id: size
        type: variable-number
        format: px
        default: 18
        title: Icon Size
    -
        id: augmente
        title: Augmente font size nav
        default: 14
        max: 30
        min: 14
        format: px
        step: 1
        type: variable-number-slider
    -
        id: color-h
        title: Color
        type: heading
        level: 1
        collapsed: false
    -
        id: F00
        title: 00. Folder
        type: variable-themed-color
        default-light: "#001219"
        default-dark: "#8d8d8d"
        format: hex
		opacity: false
    -
        id: F10
        title: 10. Folder
        type: variable-themed-color
		opacity: false
        default-light: "#4765AB"
        default-dark: "#bb7762"
        format: hex
    -
        id: F20
        title: 20. Folder
        type: variable-themed-color
		opacity: false
        default-light: "#3E9C9D"
        default-dark: "#b7822f"
        format: hex
    -
        id: F30
        title: 30. Folder
        type: variable-themed-color
        default-light: "#50A686"
        default-dark: "#798c64"
        format: hex
		opacity: false
    -
        id: F40
        title: 40. Folder
        type: variable-themed-color
        format: hex
        default-light: "#4765AB"
        default-dark: "#4765AB"
		opacity: false
    -
        id: F50
        title: 50. Folder
        type: variable-themed-color
        format: hex
        default-dark: "#8FA1CC"
        default-light: "#8FA1CC"
        opacity: false
    -
        id: F60
        title: 60. Folder
        type: variable-themed-color
        format: hex
        default-dark: "#8FA1CC"
        default-light: "#8FA1CC"
        opacity: false
    -
        id: F70
        title: 70. Folder
        type: variable-themed-color
        format: hex
        default-dark: "#ffffff00"
        default-light: "#ffffff00"
        opacity: false
	-
        id: F80
        title: 80. Folder
        type: variable-themed-color
        format: hex
        default-light: "#ad8c33"
        default-dark: "#ad8c33"
        opacity: false
	-
        id: F90
        title: 90. Folder
        type: variable-themed-color
        format: hex
        default-light: "#ad8c33"
        default-dark: "#ad8c33"
        opacity: false
	-
        id: F100
        title: 100. Folder
        type: variable-themed-color
        format: hex
        default-light: "#ffffff00"
        default-dark: "#ffffff00"
        opacity: false
	-
        id: FZZ
        title: ZZ. Folder
        type: variable-themed-color
        format: hex
        default-light: "#B69D91"
        default-dark : "#617e8c"
		opacity: false
*/

.theme-dark {
    --F00: #8d8d8d;
    --F10: #bb7762;
    --F20: #b7822f;
    --F30: #798c64;
    --F40: #4765ab;
    --F50: #8fa1cc;
    --F60: #8fa1cc;
    --F70: #ffffff00;
    --F80: #ad8c33;
    --F90: #ad8c33;
    --F100: #ffffff00;
    --FZZ: #617e8c;
}

.theme-light {
    --F00: #00121a;
    --F10: #bb7762;
    --F20: #3e9c9d;
    --F30: #50a686;
    --F50: #4765ab;
    --F40: #8fa1cc;
    --F60: #8fa1cc;
    --F70: #ffffff00;
    --F80: #ad8c33;
    --F90: #ad8c33;
    --F100: #ffffff00;
    --FZZ: #b69d91;
}

:root {
    --size: 18px;
    --augmente: 14px;
}


/* ======== FILES =================== */


/* You can add mobile adaptation here
@media screen and (max-width: 1080px) {
}
*/

.nav-file-title,
.nav-folder-title {
    font-size: var(--augmente) !important;
}

.nav-file-title.is-being-dragged,
.nav-folder-title.is-being-dragged {
    background-color: #8e939349 !important;
}

body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
    background-color: transparent !important;
}

.nav-folder-title[data-path^="/"] {
    display: none;
}

.fx-icons .nav-folder:not(.nav-folder.mod-root) {
    margin-left: 0;
}

.nav-file-title-content:hover,
.nav-folder-title-content:hover,
.collapse-icon:hover {
    background-color: transparent !important;
    filter: saturate(150%);
    color: currentColor !important;
}

.nav-folder-title.is-being-dragged-over {
    background-color: transparent !important;
    color: currentColor !important;
    filter: saturate(500%) !important;
}

.CodeMirror-foldgutter-folded,
.is-collapsed .nav-folder-collapse-indicator,
.nav-folder-collapse-indicator {
    color: currentColor !important;
}

.nav-file-tag {
    display: none;
}

.nav-file-title.is-active:not(.nav-file-title.is-active:hover) {
    background-color: rgba(255, 255, 255, 0.075) !important;
    filter: saturate(150%);
}

.nav-folder-children .nav-file-title-content:first-child::before {
    font-size: 18px !important;
}



.nav-folder-children .nav-file-title-content:first-child::before {
    font-size: var(--size) !important;
    padding-left: 3px !important;
}


/* ===================== I00 ===================== */

.nav-folder-title[data-path^="00."],
.nav-file-title[data-path*="00."] {
    color: var(--F00) !important;
}

/* ============ FOLDER 10 ===================== */

.nav-folder-title[data-path^="10."],
.nav-file-title[data-path*="10."] {
    color: var(--F10) !important;
}


/* ============ FOLDER 20 ==================== */

.nav-folder-title[data-path^="20."],
.nav-file-title[data-path^="20."],
.nav-file-title[data-path^="20."][data-path*="21."],
.nav-file-title[data-path^="20."][data-path*="22."],
.nav-file-title[data-path^="20."][data-path*="23."] {
    color: var(--F20) !important;
}




/* ============ FOLDER 30 ==================== */

.nav-folder-title[data-path^="30"],
.nav-file-title[data-path*="30."] {
    color: var(--F30) !important;
}

/* ============ Folder 40 ==================== */

.nav-folder-title[data-path^="40"],
.nav-file-title[data-path*="40."] {
    color: var(--F40) !important;
}



/* =================== FOLDER 50 ===================*/

.nav-folder-title[data-path^="50."],
.nav-file-title[data-path*="50."] {
    color: var(--F50) !important;
}

/* ============ Folder 60 ==================== */

.nav-folder-title[data-path^="60."],
.nav-file-title[data-path*="60."] {
    color: var(--F60) !important;
}



/* ============ Folder 70 ==================== */

.nav-folder-title[data-path^="70"],
.nav-file-title[data-path*="70."] {
    color: var(--F70) !important;
}




/* =============== FOLDER 80 ===================== */

.nav-folder-title[data-path^="80."],
.nav-file-title[data-path^="80."] {
    color: var(--F80) !important;
}




/* ===============  FOLDER 90 ===================== */

.nav-folder-title[data-path^="90."],
.nav-file-title[data-path*="90."] {
    color: var(--F90) !important;
}



/* ===============  FOLDER 100 ===================== */

.nav-folder-title[data-path^="100."],
.nav-file-title[data-path*="100."] {
    color: var(--F100) !important;
}




/* ======= RESSOURCES =================== */

.nav-folder-title[data-path^="ZZ."],
.nav-file-title[data-path*="ZZ."] {
    color: var(--FZZ) !important;
}

.nav-folder-title[data-path^="Ressource"],
.nav-file-title[data-path*="Ressource"] {
    color: var(--FZZ) !important;
}

