/* @settings
name: "Folder Icons - Color settings"
id: icons color
settings:
    - 
		id: files
		title: Files icon
		type: class-toggle
    -
        id: size
        type: variable-number
        format: px
        default: 18
        title: Icon Size
    -
        id: augmente
        title: Augmente font size nav
        default: 14
        max: 30
        min: 14
        format: px
        step: 1
        type: variable-number-slider
    -
        id: color-h
        title: Color
        type: heading
        level: 2
        collapsed: false
    -
        id: F10
        title: 10. Folder
        type: variable-themed-color
        default-light: "#001219"
        default-dark: "#8d8d8d"
        format: hex
		opacity: false
    -
        id: F20
        title: 20. Folder
        type: variable-themed-color
		opacity: false
        default-light: "#4765AB"
        default-dark: "#bb7762"
        format: hex
    -
        id: F30
        title: 30. Folder
        type: variable-themed-color
		opacity: false
        default-light: "#3E9C9D"
        default-dark: "#b7822f"
        format: hex
    -
        id: F40
        title: 40. Folder
        type: variable-themed-color
        default-light: "#50A686"
        default-dark: "#798c64"
        format: hex
		opacity: false
    -
        id: F50
        title: 50. Folder
        type: variable-themed-color
        format: hex
        default-light: "#4765AB"
        default-dark: "#4765AB"
		opacity: false
    -
        id: F60
        title: 60. Folder
        type: variable-themed-color
        format: hex
        default-dark: "#8FA1CC"
        default-light: "#8FA1CC"
		opacity: false
    - 
        id: F80
        title: 80. Folder
        type: variable-themed-color
        format: hex
        default-light: "#ad8c33"
        default-dark: "#ad8c33"
		opacity: false
	-
        id: F100
        title: 100. Folder
        type: variable-themed-color
        format: hex
        default-light: "#B69D91"
        default-dark : "#617e8c"
		opacity: false
*/

.theme-dark {
    --F10: #8d8d8d;
    --F30: #b7822f ;
    --F80: #ad8c33;
    --F40: #798c64;
    --F20: #bb7762;
    --F50: #4765AB;
    --F60: #8FA1CC;
    --F100: #617e8c;
}

.theme-light {
    --F10: #00121a;
    --F30: #3E9C9D ;
    --F80: #ad8c33;
    --F40: #50A686;
    --F50: #4765AB;
    --F20: #6867ad;
    --F100:#B69D91;
    --F60: #8FA1CC;

}

:root {
    --size: 18px;
    --I10: "\e913";
    --I11:"\e004";
    --I12:"\e96b";
    --I30: "\f1fc";
    --I80: '\e80c';
    --I90: '\e80c';
    --I40: "\eb1f";
    --I20: "\f2bd";
    --I22: "\e924";
    --I21: "\eeb5";
    --I50: "\f02e";
    --I70: "\f02e";
    --I52: "\eae2";
    --I51: "\f10d";
    --I53: "\f233";
    --I60: '\eb1d';
    --I63: '\eb1d';
    --I62: '\e666';
    --I61:'\ed9a';
    --I100: '\ea72';
    --I101: '\e95d';
    --I101-files: '\e9bd';
    --I23: '\ea5e';
    --I102: '\eb9e';
    --I102-files: '\ea42';
    --I103: '\f1bf';
    --I103-files:"\eff3";
    --augmente: 14px;
/* Font parameters */
    --font10: 'boxicons';
    --font11: 'Material icons';
    --font12: 'boxicons';
    --font30: 'Material icons';
    --font20: 'Font Awesome 5 Free';
    --font22: 'boxicons';
    --font23: 'Material icons';
    --font21: 'boxicons';
    --font40: 'boxicons';
    --font50: 'Material icons';
    --font52: 'remixicon';
    --font51: 'Material icons';
    --font53: 'Material icons';
    --font60: 'boxicons';
    --font63: 'boxicons';
    --font62: 'Material Icons';
    --font61: 'boxicons';
    --font80: 'Material icons';
    --font90: 'Material icons';
    --font100: 'IcoMoon-Free';
    --font101: 'boxicons';
    --font101-Files: 'Material icons';
    --font102: 'boxicons';
    --font102-Files: 'IcoMoon-Free';
    --font103: 'Material icons';
    --font103-Files: 'Material icons';
}

/* ======== FILES =================== */


/* You can add mobile adaptation here 
@media screen and (max-width: 1080px) {
}
*/

.nav-file-title, .nav-folder-title {
    font-size: var(--augmente) !important;
}


.nav-file-title.is-being-dragged, 
.nav-folder-title.is-being-dragged {
    background-color: #8e939349 !important;
}

body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
    background-color: transparent  !important;
}

.nav-folder-title[data-path^="/"] {
    display: none;
}

.fx-icons .nav-folder:not(.nav-folder.mod-root) {
    margin-left: 0;
}

.nav-file-title-content:hover, .nav-folder-title-content:hover, .collapse-icon:hover {
    background-color: transparent  !important;
    filter: saturate(150%);
    color: currentColor !important;
}

.CodeMirror-foldgutter-folded, .is-collapsed .nav-folder-collapse-indicator {
    color: currentColor !important;
}

.nav-file-tag {
    display: none
}

.nav-file-title.is-active:not(.nav-file-title.is-active:hover) {
    background-color: rgba(255, 255, 255, 0.075) !important;
    filter: saturate(150%);
}

.nav-folder-children .nav-file-title-content:first-child::before {
    font-size: 18px !important;
}

.files .nav-file-title-content:before {
    content: "\ea37";
    font-family: boxicons;
    font-size: calc(var(--size) + 3%) !important;
    margin-right: 5px;
    margin-left: 0px;
	font-size: var(--size) !important;
    vertical-align: -2px !important;
}

.nav-folder-children .nav-file-title-content:first-child::before {
    font-size: var(--size) !important;
}


/* ====== I10 ======= */

.nav-folder-title[data-path^="10."],
.nav-file-title[data-path*="10."]
{
    color: var(--F10) !important;
}

.nav-folder-title-content::before {
    vertical-align: -0.1em;
    position: relative;
    right: 3px;
}

.nav-folder-title[data-path^="10."] .nav-folder-title-content::before {
    content: var(--I10);
    font-family: var(--font10);
    font-size: var(--size);
    position: relative !important;
}

.nav-folder-title[data-path*="11."] .nav-folder-title-content::before
{
    content: var(--I11) !important;
    font-family: var(--font11);
    font-size: var(--size) ;    
}

.nav-folder-title[data-path*="12. "] .nav-folder-title-content::before {
    content: var(--I12) !important;
    font-family: var(--font12);
}



/* ============ Personnel ===================== */

.nav-folder-title[data-path^="20."],
.nav-file-title[data-path*="20."]
{
    color: var(--F20) !important;
}

.nav-folder-title[data-path^="20."] .nav-folder-title-content::before {
    content: var(--I20);
    font-family: var(--font20);
    font-size: var(--size);
    vertical-align: 0.05em !important;
}

.nav-folder-title[data-path*="22."] .nav-folder-title-content::before,
.nav-file-title[data-path*="22."] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--I22) !important;
    font-family: var(--font22) !important;
    font-size: calc(var(--size) + 4px) !important;
    vertical-align: -0.15em !important;
    left: -5px !important;
}

.nav-file-title[data-path*="22."] .nav-file-title-content {
    line-height: 20px;
}

.nav-folder-title[data-path*="23."] .nav-folder-title-content::before {
    content: var(--I23) !important;
    font-family: var(--font23) !important;
    font-size: var(--size) !important;
    vertical-align: -0.15em !important;
}

.nav-folder-title[data-path*="21."] .nav-folder-title-content::before,
.nav-file-title[data-path*="21."] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before  {
    content: var(--I21) !important;
    font-family: var(--font21) !important;
    font-size: var(--size) !important;
    vertical-align: -0.1em !important;
}

.nav-file-title[data-path*="21."] .nav-file-title-content:only-child:before{
	position: relative;
	right: 2px !important;
}


/* =================== I30 ================== */

.nav-folder-title[data-path^="30."],
.nav-file-title[data-path*="30."]
 {
    color: var(--F30) !important;
}


.nav-folder-title[data-path^="30."] .nav-folder-title-content::before,
.nav-file-title[data-path*="30."] .nav-file-title-content:only-child:before,
.search-result-collapse-indicator+span:before,
.nav-file-icon:before {
    content: var(--I30) !important;
    font-family: var(--font30) !important;
    font-size: var(--size);
    vertical-align: -0.15em !important;
}



/* ===== Média ======== */

.nav-folder-title[data-path^="40. Média"],
.nav-file-title[data-path*="40. Média"]
{
    color: var(--F40) !important;
}

.nav-folder-title[data-path^="40. Média/"]>.nav-folder-title-content {
    position: relative;
}


.nav-folder-title[data-path^="40. Média"] .nav-folder-title-content::before {
    content: var(--I40) !important;
    font-family: var(--font40);
    font-size: var(--size);
}

.nav-folder-title[data-path^="40. Média"]::before {
    top: 2px !important;
}

/* ======== Personnages ===== */

.nav-folder-title[data-path^="50."],
.nav-file-title[data-path*="50."]
 {
    color: var(--F50) !important;
}

.nav-folder-title[data-path^="50."] .nav-folder-title-content::before {
    content: var(--I50);
    font-family: var(--font50);
    font-size: calc(var(--size) + 2px) !important;
}

/* Fiches */
.nav-folder-title[data-path*="52."] .nav-folder-title-content::before {
    content: var(--I52);
    font-family: var(--font52);
    font-size: var(--size) !important;
}

.nav-folder-title[data-path*="51."] .nav-folder-title-content::before {
    content: var(--I51);
    font-family: var(--font51);
    font-size: var(--size);
    vertical-align: -5px;
}

.nav-folder-title[data-path*="53."] .nav-folder-title-content::before {
    content: var(--I53);
    font-family: var(--font53);
    font-size: var(--size);
    vertical-align: -0.2em !important;
}

/* ============ Univers ==================== */
.nav-folder-title[data-path^="60"],
.nav-file-title[data-path*="60."]
 {
    color: var(--F60) !important;
}

div.nav-folder-title[data-path^="60."] div.nav-folder-title-content::before {
    content: var(--I60);
    font-family: var(--font60);
    font-size: var(--size);
    vertical-align: 0 !important;
}

div.nav-folder-title[data-path*="62."] div.nav-folder-title-content::before {
    content: var(--I62);
    font-family: var(--font62);
    font-size: var(--size) !important;
    vertical-align: -0.15em !important;
}

div.nav-folder-title[data-path*="61."] div.nav-folder-title-content::before {
    content: var(--I61);
    font-family: var(--font61);
    font-size: var(--size);
}

div.nav-folder-title[data-path*="63."] div.nav-folder-title-content::before {
    content: var(--I63);
    font-family: var(--font63);
    font-size: var(--size);
    vertical-align: -1px !important;
}
/* ============ Folder 70 ==================== */
.nav-folder-title[data-path^="70"],
.nav-file-title[data-path*="70."]
 {
    color: var(--F70) !important;
}

div.nav-folder-title[data-path^="70."] div.nav-folder-title-content::before {
    content: var(--I70);
    font-family: var(--font70);
    font-size: var(--size);
    vertical-align: 0 !important;
}


/* ===============  MASTER 1 ===================== */

.nav-folder-title[data-path^="80."],
.nav-file-title[data-path*="80."] {
	color: var(--F80) !important;
}

div.nav-folder-title[data-path^="80."] div.nav-folder-title-content::before {
    content: var(--I80);
    font-family: var(--font80);
    font-size: var(--size);
	vertical-align: -0.15em !important;
}
/* ===============  FOLDER 90 ===================== */

.nav-folder-title[data-path^="90."],
.nav-file-title[data-path*="90."] {
	color: var(--F90) !important;
}

div.nav-folder-title[data-path^="90."] div.nav-folder-title-content::before {
    content: var(--I90);
    font-family: var(--font90);
    font-size: var(--size);
}


/* ======= RESSOURCES =================== */
.nav-folder-title[data-path^="100."],
.nav-file-title[data-path*="100."]{
    color: var(--F100) !important;
}

.nav-folder-title[data-path^="100."] .nav-folder-title-content::before {
    content: var(--I100);
    font-family: var(--font100);
    font-size: calc(var(--size));
    vertical-align:  0 !important;
}

.nav-folder-title[data-path*="101"] .nav-folder-title-content::before {
    content: var(--I101) !important;
    font-family: var(--font101) !important;
    font-size: calc(var(--size) + 2px) !important;
}

    .nav-file-title[data-path*="101. "]>.nav-file-title-content::before {
        content: var(--I101-files);
        font-family: var(--font101-Files) !important;
        font-size: var(--size) !important;
        vertical-align: -0.15em !important;
    }

.nav-folder-title[data-path*="102."] .nav-folder-title-content::before {
    content: var(--I102) !important;
    font-family: var(--font102) !important;
    font-size: var(--size) !important;
    vertical-align: -0.1em !important;
}

    .nav-file-title[data-path*="102. "]>.nav-file-title-content::before {
		content: var(--I102-files) !important;
		vertical-align: -0.1em;
		font-family: var(--font102-Files) !important;
		font-size: var(--size) !important;
    }

.nav-folder-title[data-path*="103. "] .nav-folder-title-content::before {
    content: var(--I103) !important;
    font-family: var(--font103) !important;
    font-size: var(--size);
    vertical-align: -0.15em !important;
}
    .nav-file-title[data-path*="103. "]>.nav-file-title-content::before {
        content: var(--I103-files) !important;
        font-family: var(--font103-Files) !important;
        font-size: calc(var(--size) + 2px);
        vertical-align: -0.15em !important;
    }

/* =============== NO MD FILES ======================= */

.nav-file-title[data-path$="jpeg"] .nav-file-title-content:before,
.nav-file-title[data-path$="png"] .nav-file-title-content:before{
content: "\e416";
font-family: 'Material Icons' !important;
font-size: calc(var(--size) + 3px) !important;
vertical-align: -4px !important;
left: 3px !important;
position: relative !important;
}

.nav-file-title[data-path$="pdf"] .nav-file-title-content:before{
content: "\f1c1";
font-family: 'Font Awesome 5 Free' !important;
font-size: var(--size);
}

.nav-file-title[data-path$="js"] .nav-file-title-content:before{
    content: "\f3d3" !important;
}


