/* This file is a example to how you can improve the snippet without edit it, and using another snippet to adjust as you like. */

@media only screen and (max-device-width: 1024px) {
    .nav-folder:not(.mod-root)>.nav-folder-children .nav-file-title {
        margin-left: 1px !important;
    }
    /* Ipad / Tablette / Iphone... */
    .nav-folder-title-content:before,
    .nav-file-title-content:before {
        vertical-align: -2px !important;
        left: -3px !important;
    }
    div.nav-folder-title[data-path*='20.'][data-path*="23."] div.nav-folder-title-content::before {
        vertical-align: 3px !important;
        top: 2px !important;
    }
    div.nav-folder-title[data-path*="33."] div.nav-folder-title-content::before {
        vertical-align: 1px !important;
        top: 2px !important;
    }
    div.nav-folder-title[data-path*="Aide"] div.nav-folder-title-content::before {
        vertical-align: -5px !important;
        top: 0 !important;
    }
    div.nav-folder-title[data-path*="32."] div.nav-folder-title-content::before {
        vertical-align: middle !important;
        top: 0 !important;
    }
    div.nav-folder-title[data-path*="03."] div.nav-folder-title-content::before {
        margin-right: -5px;
        top: 0 !important;
        vertical-align: middle !important;
    }
    .nav-folder-title[data-path*="03."] .nav-folder-title-content::before {
        top: 4px !important;
    }
    .nav-folder-title[data-path^="20."] .nav-folder-title-content::before {
        font-size: calc(var(--size) + 1px) !important;
        vertical-align: middle !important;
        padding-right: 1% !important;
        margin-left: 0.1em !important;
    }
    .nav-folder-title[data-path^="ZZ."] .nav-folder-title-content::before {
        position: relative;
        top: 1px;
    }
    .nav-folder-title[data-path^="60."] .nav-folder-title-content::before,
    .nav-file-title[data-path^="60."] .nav-file-title-content::before {
        position: relative;
        top: 1px !important;
    }
    .nav-file-title[data-path^="60."] .nav-file-title-content::before {
        padding-right: 2px !important;
        margin-left: 10px !important;
    }
    .nav-folder-title[data-path^="50."] .nav-folder-title-content::before {
        position: relative !important;
        top: 0px !important;
    }
    .nav-folder-title[data-path^="30."] .nav-folder-title-content::before {
        position: relative;
        margin-left: 1% !important;
        vertical-align: top !important;
    }
    .nav-file-title[data-path*="Script"]>.nav-file-title-content::before,
    .nav-file-title[data-path*="Modèle"]>.nav-file-title-content::before,
    .nav-file-title[data-path*="Superlinks"]>.nav-file-title-content::before {
        vertical-align: middle !important;
        top: 3px !important;
    }
    .nav-folder-title[data-path*="Script"] .nav-folder-title-content::before {
        font-size: calc(var(--size) + 3px) !important;
        top: 3px;
    }
    .nav-folder-title[data-path*="Superlinks"] .nav-folder-title-content::before {
        position: relative;
        top: 4px !important;
    }
    .nav-folder-title[data-path*="Superlinks"] .nav-folder-title-content {
        position: relative !important;
        vertical-align: middle !important;
        top: -3px !important;
    }
    .nav-folder-title[data-path*="10."] .nav-folder-title-content::before {
        vertical-align: -0.2em !important;
    }
    .nav-folder-title[data-path^="40."] .nav-folder-title-content::before {
        vertical-align: sub !important;
    }
    div.nav-folder-title[data-path^="40."] div.nav-folder-title-content::before {
        font-size: calc(var(--size) + 2px) !important;
        padding-right: 1% !important;
        margin-left: 0 !important;
    }
    div.nav-folder-title[data-path*="41."] div.nav-folder-title-content::before {
        left: 0 !important;
        position: relative !important;
        vertical-align: -1px !important;
        font-size: calc(var(--size) - 2px) !important;
        padding-right: 8px !important;
    }
    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"][data-path*="Illustration"] .nav-folder-title-content::before,
    .nav-folder-title[data-path*="20."][data-path*="Mnémosyne"][data-path*="Illustration"] .nav-folder-title-content::before {
        padding-left: 0.9em;
    }
    .nav-folder-title[data-path*="31."][data-path*="Ashling May"][data-path*="Illustration"] .nav-folder-title-content::before {
        margin-left: 1.4em !important;
    }
    .nav-folder-title[data-path^='20.'][data-path*="20."][data-path*="Hayleen May"] .nav-folder-title-content::before,
    .nav-folder-title[data-path^='20.'][data-path*="20."][data-path*="Mnémosyne"] .nav-folder-title-content::before {
        vertical-align: middle !important;
        margin-left: 0.3em !important;
        position: relative;
        left: 0 !important;
        top: 0 !important;
        padding-right: 0.3em !important;
    }
    .nav-folder-title[data-path*="20"][data-path*="Hayleen May"] div.nav-folder-title-content,
    .nav-folder-title[data-path*="20"][data-path*="Mnémosyne"] div.nav-folder-title-content {
        right: 1.3em !important;
        position: relative !important;
    }
    .nav-folder-title[data-path*="31"][data-path*="Ashling May"] div.nav-folder-title-content::before {
        vertical-align: -3px !important;
        margin-right: O.5em !important;
        margin-left: 0.5em !important;
        position: relative;
        left: 0 !important;
    }
    .nav-folder-title[data-path*="31"][data-path*="Ashling May"] div.nav-folder-title-content {
        right: 1.5em;
        position: relative !important;
    }
    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"] .collapse-icon,
    .nav-folder-title[data-path*="31"][data-path*="Ashling May"] .collapse-icon,
    .nav-folder-title[data-path*="20."][data-path*="Mnémosyne"] .collapse-icon {
        right: 1.5em !important;
        position: relative !important;
        font-size: calc(var(--size) - 1px) !important;
        padding-left: 3px !important;
    }
}

@media only screen and (min-device-width: 1024px) {
    div.nav-folder-title[data-path*="Aide"] div.nav-folder-title-content::before {
        vertical-align: sub !important;
        top: 0 !important;
    }
    .nav-folder-title[data-path^="40."] .nav-folder-title-content::before {
        font-size: calc(var(--size) + 3px) !important;
        left: -0.3em !important;
        padding-right: 0 !important;
        vertical-align: -0.18em !important;
    }
    .nav-folder-title[data-path^="20."] .nav-folder-title-content::before {
        left: -4px !important;
        vertical-align: -1px !important;
    }

    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"][data-path*="Illustration"] .nav-folder-title-content::before,
    .nav-folder-title[data-path*="20."][data-path*="Mnémosyne"][data-path*="Illustration"] .nav-folder-title-content::before {
        vertical-align: -4px !important;
    }
    .nav-folder-title[data-path*="31."][data-path*="Ashling May"][data-path*="Illustration"] .nav-folder-title-content::before {
        vertical-align: -4px !important;
    }
    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"] .nav-folder-title-content::before,
    .nav-folder-title[data-path*="20."][data-path*="Mnémosyne"] .nav-folder-title-content::before {
        left: -5px !important;
        margin-right: -5px !important;
    }
    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"] .nav-folder-title-content::before,
    .nav-folder-title[data-path*="20."][data-path*="Mnémosyne"] .nav-folder-title-content::before,
    .nav-folder-title[data-path*="31"][data-path*="Ashling May"] div.nav-folder-title-content::before {
        vertical-align: -3px !important;
    }
    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"] .nav-folder-title-content,
    .nav-folder-title[data-path*="20."][data-path*="Mnémosyne"] .nav-folder-title-content,
    .nav-folder-title[data-path*="31"][data-path*="Ashling May"] div.nav-folder-title-content {
        left: -1.2em !important;
        position: relative !important;
    }
    .nav-folder-title[data-path*="20."][data-path*="Hayleen May"] .collapse-icon,
    .nav-folder-title[data-path*="20."][data-path*="Mnémosyne"] .collapse-icon,
    .nav-folder-title[data-path*="31"][data-path*="Ashling May"] .collapse-icon {
        right: 25px !important;
        position: relative !important;
        font-size: calc(var(--size) - 1px) !important;
        padding-left: 1px !important;
    }
    .nav-folder-title[data-path^="10."] .nav-folder-title-content::before {
        font-size: calc(var(--size) + 2px) !important;
        vertical-align: -0.2em !important;
    }
    .nav-folder-title[data-path^="50."] .nav-folder-title-content::before {
        vertical-align: -0.1em !important;
        font-size: calc(var(--size) + 3px) !important;
        position: relative !important;
        left: -5px !important;
        padding-right: 1px !important
    }
    .nav-folder-title[data-path^="30."] .nav-folder-title-content::before {
        vertical-align: -1%;
    }
    div.nav-folder-title[data-path^='20.'][data-path*="23."] div.nav-folder-title-content::before {
        vertical-align: top !important;
    }
    div.nav-folder-title[data-path^="10."] div.nav-folder-title-content::before {
        vertical-align: -0.2em !important;
        left: -5px !important;
        padding-right: 2px !important;
        font-size: calc(var(--size) + 2px) !important;
    }
    div.nav-folder-title[data-path*="41."] div.nav-folder-title-content::before {
        left: -3px !important;
        position: relative !important;
        vertical-align: -1px !important;
        font-size: var(--size) !important;
        padding-right: 3px !important;
    }
    .nav-folder-title[data-path*="31."] .nav-folder-title-content::before,
    .nav-folder-title[data-path*="32."] .nav-folder-title-content::before {
        padding-left: 2px;
        vertical-align: -3px !important;
    }
    .nav-folder-title[data-path*="33."] .nav-folder-title-content::before {
        padding-left: 2px;
        vertical-align: 0 !important;
    }
    .nav-folder-title[data-path*="Média/"]>.nav-folder-title-content {
        position: relative;
        padding-left: 0.6em !important;
        line-height: 15px !important;
    }
    .nav-file-title[data-path^="60"]>.nav-file-title-content {
        position: relative;
        line-height: 20px !important;
    }
    .nav-file-title[data-path^="60"]>.nav-file-title-content::before {
        margin-right: 0 !important;
        padding-left: 0.5em !important;
    }
    .nav-folder-title[data-path*="21."] .nav-folder-title-content::before {
        vertical-align: 0 !important;
    }
    .nav-file-title[data-path*="12."] .nav-file-title-content {
        line-height: 20px;
    }
    .nav-file-title[data-path*="11."] .nav-file-title-content:only-child:before {
        left: -3px !important;
        position: relative !important;
        padding-left: 5px !important;
        margin-left: 2px !important;
        margin-right: 0 !important;
    }
    .nav-folder-title[data-path*="Superlinks"] .nav-folder-title-content::before {
        position: relative !important;
        vertical-align: -3px !important;
    }
    .nav-file-title[data-path*="Script"] .nav-file-title-content::before {
        vertical-align: -0.1em !important;
        position: relative !important;
        margin-left: 2px !important;
    }
    .nav-file-title[data-path*="Modèle"] .nav-file-title-content::before {
        font-size: calc(var(--size) - 3px) !important;
        position: relative !important;
        margin-left: 5px !important;
    }
}

.nav-file-title[data-path*="60."] .nav-file-title-content {
    line-height: 20px !important;
}

.nav-folder-title[data-path^="20."][data-path*="20."][data-path*="Hayleen May"] .nav-folder-title-content::before,
.nav-folder-title[data-path^="20."][data-path*="20."][data-path*="Mnémosyne"] .nav-folder-title-content::before,
.nav-folder-title[data-path*="31"][data-path*="Ashling May"] div.nav-folder-title-content::before {
    content: "\ea37" !important;
    font-family: boxicons !important;
    font-size: var(--size) !important;
}

.nav-folder-title[data-path^='20.'][data-path*="23."] .nav-folder-title-content::before {
    font-size: calc(var(--size) - 4px) !important;
    left: -2px;
}

.nav-folder-title[data-path*="20."][data-path*="Hayleen May"][data-path*="Illustration"] .nav-folder-title-content::before,
.nav-folder-title[data-path*="20."][data-path*="Mnémosyne"][data-path*="Illustration"] .nav-folder-title-content::before,
.nav-folder-title[data-path*="31."][data-path*="Ashling May"][data-path*="Illustration"] .nav-folder-title-content::before {
    content: "\e416" !important;
    font-family: "Material Icons" !important;
    font-size: calc(var(--size) + 1px) !important;
}