/* Coloured Folders
a CSS snippet by Lithou
modified by Jeremy Valentine & Mara-Li

This will allow the colouring of the top level folders into sections that "drop down" when opened. 
This is currently set to be the same colour regardless of theme, but you can change that by copy/pasting the colors from the root section into light/dark theme then changing them according to preference.
The colours are rainbow coloured and 16 in number by default. They are shades such that white/lightgrey text shows up the best. Some have a bit let contrast (the lighter blue and the yellow) but should still be visible. Again, change them however you would like. 
*/

/* @settings
name: Nested Folder
id: nested
settings:
    - 
        id: bg00
        format: hex
        opacity: true
        type: variable-themed-color
        title: 00. Folder
        default-light: "#3131312c"
        default-dark: "#6e6e6e2c"
    -
        id: bg10
        format: hex
        opacity: true
        type: variable-themed-color
        title: 10. Folder
        default-light: "#6867ad2c"
        default-dark: "#bb77622c"
    - 
        id: bg20
        format: hex
        opacity: true
        type: variable-themed-color
        title: 20. Folder
        default-light: "#85adad2c"
        default-dark: "#77664e2c"
    -
        id: bg30
        format: hex
        opacity: true
        type: variable-themed-color
        title: 30. Folder
        default-light: "#50A6862c"
        default-dark: "#798c642c"
    - 
        id: bg40
        format: hex
        opacity: true
        type: variable-themed-color
        title: 40. Folder
        default-light: "#4765AB2C"
        default-dark: "#4765AB2c"
    -
        id: bg50
        format: hex
        opacity: true
        type: variable-themed-color
        title: 50. Folder
        default-light: "#8FA1CC2c"
        default-dark: "#8FA1CC2c"    
	-
        id: bg60
        format: hex
        opacity: true
        type: variable-themed-color
        title: 60. Folder
        default-light: "#8FA1CC2c"
        default-dark: "#8FA1CC2c"    
	-
        id: bg70
        format: hex
        opacity: true
        type: variable-themed-color
        title: 70. Folder
        default-light: "#ffffff00"
        default-dark: "#ffffff00"
    -
        id: bg80
        format: hex
        opacity: true
        type: variable-themed-color
        title: 80. Folder
        default-light: "#ad8c332c"
        default-dark: "#ad8c332c"
	-
        id: bg90
        format: hex
        opacity: true
        type: variable-themed-color
        title: 90. Folder
        default-light: "#ffffff00"
        default-dark: "#ffffff00"
    -
        id: bg100
        format: hex
        opacity: true
        type: variable-themed-color
        title: 100. Folder
        default-light: "#ffffff00"
        default-dark: "#ffffff00"
    -
        id: bgZZ
        format: hex
        opacity: true
        type: variable-themed-color
        title: ZZ. Folder
        default-light: "#B69D912c"
        default-dark: "#617e8c2c"
*/


:root {
    /* folder colours */
    /* line styles for nesting indicators */
    --nestlinesize1: solid;
    --nestlinestyle1: 2px;
    --nestlinesize2: groove;
    --nestlinestyle2: 2px;
    --nestlinecolor2: rgb(255, 255, 255);

    --nestlinesize3: dashed;
    --nestlinestyle3: 2px;

    --FolderRadius: 5px;
    --FoldText: white;
    --FoldTextMaster: var(--FoldText);
    --inbox-font: 0, 18, 25;
}

.theme-dark {
    --root-file-color: white;
    --FoldText: rgba(255, 255, 255, 0.267);
    --nestlinecolor1: rgba(255, 255, 255, 0.267);
    ;
    --nestlinecolor3: rgba(255, 255, 255, 0.267);
    --nestlinecolor3: rgba(255, 255, 255, 0.267);
    ;
    --bg00: #6e6e6e2c;
    --bg10: #bb77622c;
    --bg20: #77664e2c ;
    --bg30: #798c642c;
    --bg40: #4765AB2c;
    --bg50: #8FA1CC2c;
    --bg60: #ffffff00;
    --bg70: #ffffff00;
    --bg80: #ad8c332c;
    --bg90: #ffffff00;
    --bg100: #ffffff00;
    --bgZZ: #617e8c2c;
}
.theme-light {
    --root-file-color: var(--text-normal);
    --FoldText: rgba(0, 0, 0, 0.171);
    --nestlinecolor1: rgba(0, 0, 0, 0.144);
    --nestlinecolor3: rgba(0, 0, 0, 0.144);
    --bg00: #3131312c;
    --bg10: #bb77622c;
    --bg20: #85adad2c ;
    --bg30: #50A6862c;
    --bg40: #4765AB2C;
    --bg50: #8FA1CC2c;
    --bg60: #ffffff00;
    --bg70: #ffffff00;
    --bg80: #ad8c332c;
    --bg90: #ffffff00;
    --bg100: #B69D912c;
    --bgZZ: #B69D912c;
}
.nav-file-title,
.nav-folder-title {
    color: unset;
}

/* SR Plugins adjust */
div:not(.is-mobile) > .workspace-leaf-content > .view-content .nav-folder-title {
	color: var(--text-accent) !important;
}

div:not(.is-mobile) > .workspace-leaf-content > .view-content > .nav-folder.mod-root > .nav-folder-children > .nav-folder > .nav-folder-children > .nav-folder > .nav-folder-title{
	color: var(--text-normal) !important;
}
div:not(.is-mobile) > .workspace-leaf-content > .view-content .nav-file-title-content {
	color: var(--text-normal) !important;
}

div:not(.is-mobile) > .workspace-leaf-content .view-content .nav-file-title-content:hover,
div:not(.is-mobile) > .workspace-leaf-content > .view-content > .nav-folder.mod-root > .nav-folder-children > .nav-folder > .nav-folder-children > .nav-folder > .nav-folder-title:hover {
	color: var(--text-accent) !important;
}

div:not(.is-mobile) > .workspace-leaf-content .view-content .nav-folder-children .nav-file-title-content:first-child::before {
    top: -1px !important;
}

/* Minimal Theme overrides */
.nav-file {
    margin-left: 0;
    padding: 0;
}

.nav-folder-collapse-indicator {
    margin-left: inherit !important;
}

.nav-folder-children {
    padding-left: 18px;
}

.nav-folder:not(.mod-root) > .nav-folder-children .nav-file-title {
    padding-left: 12px;
}

.nav-file-title {
    margin: 0;
}

/* Set up explorer container margins */
.nav-files-container {
    margin: 0px 5px;
}

.nav-file-title,
.nav-folder-title {
    border-radius: 0px;
}
.nav-folder-title {
  margin: 0;
  width: 100% !important;
}

/* Uncomment this for adjusting line with icon 

.nav-folder:not(.mod-root) > .nav-folder-children .nav-file-title {
    padding-left: 5px !important;
}

/* Top Level Folder Titles */
.nav-folder.mod-root > .nav-folder-children > .nav-folder > .nav-folder-title {
    font-family: var(--default-font);
    font-size: calc(var(--augmente) + 3px) !important;
    color: var(--FoldText);
    padding-left: 3px;
    margin-top: 7px; /* space between top level sections */
    border-radius: var(--FolderRadius) var(--FolderRadius) 0px 0px;
}
/* Rounded borders */
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder.is-collapsed
    > .nav-folder-title {
    border-radius: var(--FolderRadius);
}

/* General Nav Folder Children (this is the part that expands from each top level folder) */
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children {
    padding-left: 0px;
    border-top: var(--FoldText) 1px solid;
    border-radius: 0px 0px var(--FolderRadius) var(--FolderRadius);
    color: var(--FoldText);
    /* padding-bottom: 12px; */
}

/* active file increase font size and removes normal highlight marker */
.nav-file-title.is-active {
    font-size: 105%;
}
/* Adds hemisphere marker to active file instead */
/* .nav-file-title.is-active {
    
} */

/* 16 Top level Folders By Starting Digit (0-F)
These are set for me by leading number/letter which also ensures they are in the correct order when sorted alphabetically
You can change these to match your use case.
*/

.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="00."],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="00."]
    + .nav-folder-children {
    background-color: var(--bg00) !important ;
}

.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="10."],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="10."]
    + .nav-folder-children {
    background-color: var(--bg10);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="20."],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="20."]
    + .nav-folder-children {
    background-color: var(--bg20);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="30."],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="30."]
    + .nav-folder-children {
    background-color: var(--bg30);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="40."],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="40."]
    + .nav-folder-children {
    background-color: var(--bg40);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="50."],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="50."]
    + .nav-folder-children {
    background-color: var(--bg50);
}

.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="60."],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="60."]
    + .nav-folder-children {
    background-color: var(--bg60);
  }

.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="80."],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="80."]
    + .nav-folder-children {
    background-color: var(--bg80);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="90."],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="90."]
    + .nav-folder-children {
    background-color: var(--bg90);
}

.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="70."],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="70."]
    + .nav-folder-children {
    background-color: var(--bg70);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="100."],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="100."]
    + .nav-folder-children {
    background-color: var(--bg100);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="ZZ."],
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-title[data-path^="ZZ."]
    + .nav-folder-children {
    background-color: var(--bgZZ);
}



/* Scrollbars eliminated */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Relationship lines for 2nd, 3rd, and 4th level folders */
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-file {
    border-left: var(--nestlinestyle1) var(--nestlinesize1)
        var(--nestlinecolor1);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder {
    border-left: var(--nestlinestyle1) var(--nestlinesize1)
        var(--nestlinecolor1);
}

.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-file {
    border-left: var(--nestlinestyle2) var(--nestlinesize2)
        var(--nestlinecolor2);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder {
    border-left: var(--nestlinestyle2) var(--nestlinesize2)
        var(--nestlinecolor2);
}

.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-file {
    border-left: var(--nestlinestyle3) var(--nestlinesize3)
        var(--nestlinecolor3);
}
.nav-folder.mod-root
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder
    > .nav-folder-children
    > .nav-folder {
    border-left: var(--nestlinestyle3) var(--nestlinesize3)
        var(--nestlinecolor3);
}

/* == File Explorer - animation for active file as per Obuntu === */

.nav-folder.mod-root > .nav-folder-title {
    padding-left: 6px;
    font-size: 14px;
    font-weight: normal !important;
    top: -6px;
    cursor: default;
}

.nav-file.is-active > .nav-file-title,
.nav-file.is-active > .nav-file-title:hover {
    
    border-radius: 6px;
    font-weight: normal !important;
    border-left: 2px solid var(--text-accent);
    transition: all 0.5s ease;
}

.nav-file.is-active > .nav-file-title {
    padding-left: 5px;
}

.nav-file-title.is-active,
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
    
    /* border-radius: 2px; */
    transition: all 0.2s ease;
}

body:not(.is-grabbing) .nav-folder-title:hover {
    border-radius: 0px;
}

.nav-file-title.is-active::before {
    margin-top: 2px;
    width: 22px;
    height: 20px;
}

.nav-file-tag {
    
    top: -1px;
}

.nav-folder-children {
    padding-left: 1.9em;
}


