/*
=========================================================================================================
                                          [CSS] FILE ICONS [UNSUPPORTED]
        credit : Mara-Li
        This snippet use icons_font.css
        Add default icon for unsupported files as :
          - PDF
          - IMG
          - JS
========================================================================================================= */

/* @settings
name: "Folder Mini Icons"
id: mini-icons
settings:
    -
        id: files
        title: Files icon
        description: Add icons before normal files (and some unsupported file)
        type: class-toggle
    -
        id: size
        title: Size
        description: (px)
        type: variable-number
        default: 18
        format: px
    -
        id: vertical-align
        title: Alignement
        description: (em)
        type: variable-number
        default: 0
        format: em
    -
        id: left-align
        title: Left align
        description: (em)
        type: variable-number
        default: -0.1
        format: em

*/

.root {
  --size: 18px;
  --vertical-align: 0em;
  --left-align: -0.1em;
}

.files .nav-file-title:not(.nav-file-title.is-unsupported) .nav-file-title-content:before {
  content: "\ea37";
  font-family: boxicons;
  font-size: calc(var(--size) + 3%);
}

.files .nav-file-title.is-unsupported .nav-file-title-content::before,
.files .nav-file>.nav-file-title>.nav-file-tag+.nav-file-title-content::before {
  content: "\ea38";
  font-family: boxicons;
  font-size: var(--size);
}




/* =============== NO MD FILES ======================= */

.nav-file-title[data-path$="jpeg"] .nav-file-title-content:before,
.nav-file-title[data-path$="jpg"] .nav-file-title-content:before,
.nav-file-title[data-path$="gif"] .nav-file-title-content:before,
.nav-file-title[data-path$="png"] .nav-file-title-content:before {
  content: "\e416" !important;
  font-family: "Material Icons" !important;
  font-size: calc(var(--size) + 3px);
  vertical-align: -4px !important;
  left: 3px !important;
  position: relative !important;
  margin-right: 3px;
}

.nav-file-title[data-path$="pdf"] .nav-file-title-content:before {
  content: "\f1c1" !important;
  font-family: "Font Awesome 5 Free" !important;
  margin-left: 0;
  margin-right: 3px;
  padding-left: 10px;
  font-size: calc(var(--size) - 2px) !important;
  vertical-align: top !important;
}

.nav-file-title[data-path*="doc"] .nav-file-title-content:before {
  content: "\f1c2" !important;
  font-family: "Font Awesome 5 Free" !important;
  margin-left: 0;
  margin-right: 3px;
  padding-left: 10px;
  font-size: calc(var(--size) - 2px) !important;
  vertical-align: top !important;
}

.nav-file-title[data-path$="js"] .nav-file-title-content:before,
.nav-file-title[data-path*="Javascript"]>.nav-file-title-content:before {
  content: "\f3d3" !important;
  font-family: "Font Awesome 5 Brands" !important;
  font-size: var(--size);
  left: 0;
  margin-left: -1px !important;
  padding-left: 8px !important;
}
