/* 
=========================================================================================================   
=                                          MINIMAL TWEAKS                                               =
=        credit : Mara-Li ;  kepano                                                                     =
=        This snippet adjust somes appareance for the theme MINIMAL                                     =
=        Theme : https://github.com/kepano/obsidian-minimal                                             =
=        It mainly add support for folder_note.css.                                                     =
========================================================================================================= */


:root {
    --normal-weight: 500;
    --font-code: 20px;
    --bold-weight: 800;
}

.cm-s-obsidian span.cm-inline-code, .markdown-preview-view code {
    font-size: var(--font-adaptive-normal);
}

.cm-s-obsidian,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian span.cm-formatting-task,
.workspace-leaf-content[data-type=markdown] {
    font-family: var(--text-editor);
}

.nav-file-title-content,
.nav-folder-title-content {
    border: none;
}

.nav-file-title {
    padding: 0;
}


.contextual-typography .markdown-preview-view.markdown-preview-view .markdown-preview-sizer {
    display: revert;
    flex-direction: revert;
    width: revert;
    max-width: revert;
    padding-left: revert;
    padding-top: revert;
}

div[data-tag-name="p"] + div[data-tag-name="ul"] {
    margin-top: revert;
}


.markdown-source-view.mod-cm6 .list-bullet:after {
    top: -2px;
    left: -3px;
}

body,
body body input,
body body button {
    font-feature-settings: normal !important;
    font-family: var(--default-font) !important;
}

.full-file-names .tree-item-inner,
.full-file-names .nav-file-title-content,
.full-file-names .nav-folder-title-content,
.full-file-names .search-result-file-title {
    text-overflow:unset;
    white-space:normal;
    line-height:1.4;
}

.full-file-names .nav-file-title,
.full-file-names .nav-folder-title {
    margin-bottom:3px;
}

span.cm-comment, span.cm-hmd-frontmatter {
    font-family: 'Fantasque Sans Mono' !important;
}

.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
    background-color: var(--cm-background-color);
}

.tree-item-self .collapse-icon {
    margin: 0;
    padding: 0;
    width: auto;
}

.backlink-pane>.tree-item-self>.collapse-icon {
    display: none;
    color: var(--text-muted);
}

.tag-container .tree-item-self .collapse-icon {
    padding-right: 4px;
}

.graph-controls .collapse-icon {
    font-size: 14px;
    margin-left: -3px;
}



.collapse-icon:not(.markdown-preview-view .collapse-indicator)>svg {
    display: none;
}

.collapse-icon:not(.markdown-preview-view .collapse-indicator):after {
    display: inline-block;
    font-family: "boxicons";
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
}

.collapse-icon:not(.markdown-preview-view .collapse-indicator):after {
    content: "\e9ac" !important;
}

.is-collapsed .collapse-icon:not(.markdown-preview-view .collapse-indicator):after {
    content: "\e9b2" !important;
}

/* ===================================== FOLDER NOTE & FILES ICONS ===================================== */

.is-mobile .nav-file-title.is-active .nav-file-title-content {
    line-height: 1.8;
}

.obsidian-icon-folder-icon {
    padding-right: 2px !important;
    position: relative;
    top: -1px;
}

.nav-file-title,
.nav-folder-title,
.is-collapsed .search-result-file-title,
.tag-pane-tag {
    font-weight: normal !important;
}

.is-mobile .nav-file-title.is-active {
    box-shadow: none !important;
}

.nav-file-title.is-being-dragged,
.nav-file-title.is-active,
body:not(.is-grabbing) .nav-file-title.is-active:hover {
    background-color: #ffffff42 !important;
}

div.nav-folder.mod-root>div.nav-folder-children>div.nav-folder>div.nav-folder-title>div.nav-folder-collapse-indicator.collapse-icon {
    margin-left: -2px;
}

div.nav-folder-children>div.nav-folder>div.nav-folder-title>div.nav-folder-collapse-indicator.collapse-icon {
    margin-left: 0;
    margin-right: 3px;
}

.nav-folder.mod-root>.nav-folder-title.is-being-dragged-over .nav-folder-title-content {
    box-shadow: inset 0 -2px hsl(var(--accent-hsl));
}

.nav-folder-title {
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 3px;
}

.nav-file-title {
    position: relative;
    margin-right: 5px;
    margin-left: 0px;
    vertical-align: -2px;
}

.nav-folder:not(.mod-root)>.nav-folder-children {
    padding-left: 0.7em !important;
}


@media only screen and (min-device-width: 1024px) {

    /* PC */
    .nav-files-container {
        padding: 0;
    }

    .show-full-titles .nav-file-title-content {
        margin-left: 0px;
    }

    .obsidian-icon-folder-icon+.nav-file-title-content {
        padding-left: 0.2em !important;
    }

    .nav-file-title svg:not(.right-triangle) {
        margin-left: 10px !important;
    }

    .nav-file-title-content {
        padding-left: 10px !important;
    }

    .nav-folder-children .nav-file-title-content:first-child::before {
        margin-left: 0.25em !important;
    }

    .alx-folder-with-note .nav-folder-title[data-path*="Illustration"] svg:not(.right-triangle) {
        margin-left: 0 !important;
        margin-right: 1.3em !important;
        position: relative;
        left: 0 !important;
    }


    .nav-file-title[data-path*="Personnages/"] svg:not(.right-triangle) {
        margin-left: 0.5em !important;
    }

    .nav-folder-title[data-path*="20. Roleplay/"] svg:not(.right-triangle) {
        margin-left: 0 !important;
        margin-right: 0.2em !important;
    }

    .nav-folder-title[data-path*="Personnages/"]>.obsidian-icon-folder-icon+.nav-folder-title-content {
        padding-left: 0 !important;
    }

    .alx-folder-with-note .nav-folder-title[data-path*="40. Média/"],
    .nav-file-title[data-path*="40. Média/"] {
        position: relative;
        left: 0.5em;
    }

    .nav-file-title[data-path*="Bookmark/Contacts"] {
        position: relative;
        left: 0.3em;
    }

    .nav-file-title[data-path*="Bookmark/Contacts"] .nav-file-title-content {
        padding-left: 0 !important;
    }

    .nav-folder-title[data-path*="Professeur"]>* {
        position: relative;
        left: -0.7em;
        margin-right: 0.3em;
    }
}

@media only screen and (max-device-width: 1024px) {

/* Mobile*/
    .nav-file-title-content {
        padding-left: 10px;
    }

    .obsidian-icon-folder-icon+.nav-file-title-content {
        padding-left: 0.1em !important;
      }
    
      .obsidian-icon-folder-icon+.nav-folder-title-content {
        padding-left: 0.1em !important;
      }
    
      .nav-file-title svg:not(.right-triangle) {
        margin-left: 0.5em !important;
      }
    
      .workspace-drawer {
        height: 100% !important;
      }
    
      .is-mobile div.nav-files-container.node-insert-event.show-unsupported {
        padding: 16px 4px 8px;
      }
    
      .alx-folder-with-note .nav-folder-title[data-path*="Illustration"] svg:not(.right-triangle) {
        position: relative;
        left: 0;
        margin-right: 0.25em !important;
      }
    
    
      .alx-folder-with-note .nav-folder-title[data-path*="40. Média/"] {
        position: relative;
        left: 0;
      }
    
    
      .alx-folder-with-note .nav-folder-title[data-path*="22. Personnages/"] .collapse-icon,
      .alx-folder-with-note .nav-folder-title[data-path*="21. Idées/"] .collapse-icon {
        display: inline-block;
        right: 25px;
        position: relative;
        font-size: calc(var(--size) - 1px) !important;
        padding-left: 1px !important;
      }
    
      .nav-file-title-content:before {
        margin-right: -2px;
        margin-left: 4px;
      }
    
      .nav-folder-title[data-path*="Illustration"] .nav-folder-title-content {
        margin-left: 0.9em !important;
      }
    
    
      .alx-folder-with-note .nav-folder-title[data-path*="Personnages/"] svg:not(.right-triangle) {
        margin-left: 0 !important;
        padding-left: 0 !important;
      }
    
      .nav-folder-title[data-path*="22. Personnages/"] .nav-folder-title-content,
      .nav-folder-title[data-path*="22. Personnages/"] svg:not(.right-triangle) {
        position: relative !important;
        right: 1.05em;
      }
    
      .nav-file-title[data-path*="Templater"] svg:not(.right-triangle) {
        margin-right: 0.25em !important;
      }
    
      .nav-folder-title[data-path*="Pouvoir"] svg:not(.right-triangle),
      .nav-folder-title[data-path*="Zombie"] svg:not(.right-triangle),
      .nav-folder-title[data-path*="Écho"] svg:not(.right-triangle) {
        margin-left: 1em !important;
      }
    
      .nav-folder-title[data-path*="Idées/"] .nav-folder-title-content,
      .nav-folder-title[data-path*="Idées/"] svg:not(.right-triangle) {
        position: relative !important;
        right: 2em !important;
      }
    
      .nav-folder-title[data-path*="Professeur"]>* {
        position: relative;
        right: 0.8em;
        margin-right: 2px;
      }
    
      .nav-file-title[data-path*="Bookmark/Contact"] svg:not(.right-triangle) {
        position: relative;
        right: -0.3em
      }

      .nav-file-title[data-path*="Bookmark/Contacts"] .nav-file-title-content {
        padding-left: 0.2em !important;
      }
      
    .nav-file-title[data-path*="Bookmark"] .nav-file-title-content {
        left: 0;
    }
}

.markdown-preview-view:not(.allow-fold-headings) .heading-collapse-indicator {
    display: none !important;
}

/* ===================================== LINKS ===================================== */
.cm-s-obsidian span.cm-hmd-internal-link,
.markdown-preview-view .internal-link,
.cm-s-obsidian span.cm-hmd-internal-link:hover,
.markdown-preview-view .internal-link:hover {
    font-weight: revert;
    text-transform: none;
    font-size: inherit;
    letter-spacing: normal;
    background-color: revert;
}

.cm-commenturl:hover,
.cm-s-obsidian span.cm-link:hover,
.markdown-source-view.mod-cm6 .cm-underline:hover,
.external-link:hover {
    background: transparent;
}

.cm-s-obsidian span.cm-hashtag::before {
    content: '';
}

.cm-s-obsidian span.cm-hashtag,
.tag:not(.token) {
    display: revert !important;
}

.is-live-preview.cm-s-obsidian .cm-line:not(.cm-active) span.cm-comment,
.is-live-preview.cm-s-obsidian .cm-line:not(.cm-active) span.cm-comment:before {
    vertical-align: revert !important;
}

.external-link {
    text-decoration: none !important;
}

.external-link:after,
.cm-commenturl:after {
    background-color: var(--text-accent) !important;
    vertical-align: top;
    margin-left: 1px;
    text-decoration: none !important;
}

.is-mobile .external-link:after,
.is-mobile .cm-commenturl:after {
    display: none;
}

.cm-s-obsidian span.cm-comment {
    opacity: 0.5;
    font-size: calc(var(--clutter) + 5px);
}

.cm-line:not(.cm-active)>span.cm-comment+span.data-link-icon,
.cm-line:not(.cm-active)>span.cm-comment+*+span.data-link-icon {
    opacity: 0.5 !important;
}

.cm-active.cm-line>span.cm-comment,
.cm-active.cm-line span.cm-comment.cm-hmd-internal-link.cm-link-alias {
    opacity: 1 !important;
}

.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
    background-color: var(--background-primary-alt);
}

.cm-s-obsidian span.cm-link:hover {
    background-color: transparent;
    color: revert;
}

span.cm-hmd-internal-link :not([data-link-type]) .cm-underline:hover,
.cm-s-obsidian span.cm-link .cm-underline:hover {
    background-color: var(--bg-hover-link);
    color: var(--link-hover);
    }