/* 
=========================================================================================================   
                                          SANCTUM TWEAKS
        credit : Mara-Li ;  jdanielmourao 
        This snippet adjust somes appareance for the theme Sanctum 
        Theme : https://github.com/jdanielmourao/obsidian-sanctum
        It mainly add support for folder_note.css. 
========================================================================================================= */


.theme-light.sanctum-light,
.theme-light {
  --text-selection: var(--color-primary-3);
}

.markdown-source-view.mod-cm6 .list-bullet:after {
  top: -2px;
  left: -3px;
}

body,
body body input,
body body button {
  font-feature-settings: normal !important;
  font-family: var(--default-font) !important;
}

span.cm-comment {
  font-family: var(--font-frontmatter) !important;
}

.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
  background-color: var(--cm-background-color);
}

/* ===================================== FOLDER NOTE & FILES ICONS ===================================== */

.obsidian-icon-folder-icon {
  padding-right: 2px !important;
}

.nav-file-title,
.nav-folder-title,
.is-collapsed .search-result-file-title,
.tag-pane-tag {
  font-weight: normal !important;
}

.nav-folder-children .nav-file-title-content:first-child::before {
  padding-left: 5px !important;
}

.is-mobile .nav-file-title.is-active {
  box-shadow: none !important;
}

.nav-file-title.is-being-dragged,
.nav-file-title.is-active,
body:not(.is-grabbing) .nav-file-title.is-active:hover {
  background-color: #ffffff42 !important;
}

div.nav-folder.mod-root>div.nav-folder-children>div.nav-folder>div.nav-folder-title>div.nav-folder-collapse-indicator.collapse-icon {
  margin-left: -2px;
}

div.nav-folder-children>div.nav-folder>div.nav-folder-title>div.nav-folder-collapse-indicator.collapse-icon {
  margin-left: 0;
  margin-right: 3px;
}

.nav-folder.mod-root>.nav-folder-title.is-being-dragged-over .nav-folder-title-content {
  box-shadow: inset 0 -2px hsl(var(--accent-hsl));
}

.nav-folder-title {
  position: relative;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 3px;
}

.nav-folder-title-content{
  position: relative;
  top: -0.1em;
}


.nav-file-title {
  position: relative;
  margin-right: 5px;
  margin-left: 0px;
  vertical-align: -2px;
}

.nav-folder:not(.mod-root)>.nav-folder-children {
  padding-left: 0.7em !important;
}

.obsidian-icon-folder-icon {
  position: relative !important;
  top: -1px !important;
}

.nav-folder-children .nav-file-title-content:first-child::before {
  /* Icon support */
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg id='icon' xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; %7D %3C/style%3E%3C/defs%3E%3Cpath d='M26,30H11a2.0023,2.0023,0,0,1-2-2V22h2v6H26V6H17V4h9a2.0023,2.0023,0,0,1,2,2V28A2.0023,2.0023,0,0,1,26,30Z'/%3E%3Crect x='17' y='10' width='7' height='2'/%3E%3Crect x='16' y='15' width='8' height='2'/%3E%3Crect x='15' y='20' width='9' height='2'/%3E%3Cpath d='M9,19a5.0055,5.0055,0,0,1-5-5V3H6V14a3,3,0,0,0,6,0V5a1,1,0,0,0-2,0V15H8V5a3,3,0,0,1,6,0v9A5.0055,5.0055,0,0,1,9,19Z'/%3E%3Crect id='_Transparent_Rectangle_' data-name='&lt;Transparent Rectangle&gt;' class='cls-1' width='32' height='32'/%3E%3C/svg%3E") !important;
  mask-image: url("data:image/svg+xml,%3Csvg id='icon' xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; %7D %3C/style%3E%3C/defs%3E%3Cpath d='M26,30H11a2.0023,2.0023,0,0,1-2-2V22h2v6H26V6H17V4h9a2.0023,2.0023,0,0,1,2,2V28A2.0023,2.0023,0,0,1,26,30Z'/%3E%3Crect x='17' y='10' width='7' height='2'/%3E%3Crect x='16' y='15' width='8' height='2'/%3E%3Crect x='15' y='20' width='9' height='2'/%3E%3Cpath d='M9,19a5.0055,5.0055,0,0,1-5-5V3H6V14a3,3,0,0,0,6,0V5a1,1,0,0,0-2,0V15H8V5a3,3,0,0,1,6,0v9A5.0055,5.0055,0,0,1,9,19Z'/%3E%3Crect id='_Transparent_Rectangle_' data-name='&lt;Transparent Rectangle&gt;' class='cls-1' width='32' height='32'/%3E%3C/svg%3E") !important;
  color: currentColor !important;
  height: 1.2em;
  width: 1.2em;
}


@media only screen and (min-device-width: 1024px) {

  /* PC */
  .nav-files-container {
    padding: 0;
  }

  .obsidian-icon-folder-icon+.nav-file-title-content {
    padding-left: 0.2em !important;
  }

  .nav-file-title svg:not(.right-triangle) {
    margin-left: 10px !important;
  }

  .nav-file-title-content {
    padding-left: 10px !important;
  }

  .nav-folder-children .nav-file-title-content:first-child::before {
    margin-left: 0.25em !important;
  }

  .alx-folder-with-note .nav-folder-title[data-path*="Illustration"] svg:not(.right-triangle) {
    margin-left: 0 !important;
    margin-right: 1.3em !important;
    position: relative;
    left: 0 !important;
  }


  .nav-file-title[data-path*="Personnages/"] svg:not(.right-triangle) {
    margin-left: 0.5em !important;
  }

  .nav-folder-title[data-path*="20. Roleplay/"] svg:not(.right-triangle) {
    margin-left: 0 !important;
    margin-right: 0.2em !important;
  }

  .nav-folder-title[data-path*="Personnages/"]>.obsidian-icon-folder-icon+.nav-folder-title-content {
    padding-left: 0 !important;
  }

  .alx-folder-with-note .nav-folder-title[data-path*="40. Média/"],
  .nav-file-title[data-path*="40. Média/"] {
    position: relative;
    left: 0.5em;
  }

  .nav-file-title[data-path*="Bookmark/Contacts"] {
    position: relative;
    left: 0.3em;
  }

  .nav-file-title[data-path*="Bookmark/Contacts"] .nav-file-title-content {
    padding-left: 0 !important;
  }

  .nav-folder-title[data-path*="Professeur"]>* {
    position: relative;
    left: -0.7em;
    margin-right: 0.3em;
  }
}

@media only screen and (max-device-width: 1024px) {

  /* Mobile */
  .nav-file-title-content,
  .nav-folder-title-content {
    width: 22ch !important;
  }

  .obsidian-icon-folder-icon+.nav-file-title-content {
    padding-left: 0 !important;
  }

  .obsidian-icon-folder-icon+.nav-folder-title-content {
    padding-left: 1px !important;
  }

  .nav-file-title svg:not(.right-triangle) {
    margin-left: 0.5em !important;
  }

  .workspace-drawer {
    height: 100% !important;
  }

  .is-mobile div.nav-files-container.node-insert-event.show-unsupported {
    padding: 16px 4px 8px;
  }

  .is-mobile .nav-folder .collapse-icon {
    display: inline-block;
    position: relative;
    top: 5px;
  }

  .alx-folder-with-note .nav-folder-title[data-path*="Illustration"] svg:not(.right-triangle) {
    position: relative;
    left: 0;
    margin-right: 0.25em !important;
  }


  .alx-folder-with-note .nav-folder-title[data-path*="40. Média/"] {
    position: relative;
    left: -15px;
  }


  .alx-folder-with-note .nav-folder-title[data-path*="22. Personnages/"] .collapse-icon,
  .alx-folder-with-note .nav-folder-title[data-path*="21. Idées/"] .collapse-icon {
    display: inline-block;
    right: 25px;
    position: relative;
    font-size: calc(var(--size) - 1px) !important;
    padding-left: 1px !important;
  }

  .nav-file-title-content:before {
    position: relative;
    top: 0.35em;
    left: 0.1em;
  }

  .nav-folder-title[data-path*="Illustration"] .nav-folder-title-content {
    margin-left: 0.9em !important;
  }


  .alx-folder-with-note .nav-folder-title[data-path*="Personnages/"] svg:not(.right-triangle) {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .nav-folder-title[data-path*="22. Personnages/"] .nav-folder-title-content,
  .nav-folder-title[data-path*="22. Personnages/"] svg:not(.right-triangle) {
    position: relative !important;
    right: 1.05em;
  }

  .nav-file-title[data-path*="Templater"] svg:not(.right-triangle) {
    margin-right: 0.25em !important;
  }

  .nav-folder-title[data-path*="Pouvoir"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Zombie"] svg:not(.right-triangle),
  .nav-folder-title[data-path*="Écho"] svg:not(.right-triangle) {
    margin-left: 1em !important;
  }

  .nav-folder-title[data-path*="Idées/"] .nav-folder-title-content,
  .nav-folder-title[data-path*="Idées/"] svg:not(.right-triangle) {
    position: relative !important;
    right: 2em !important;
  }

  .nav-folder-title[data-path*="Professeur"]>* {
    position: relative;
    right: 0.7em;
    margin-right: 0.3em;
  }

  .nav-file-title[data-path*="Bookmark/Contact"] svg:not(.right-triangle) {
    position: relative;
    right: -0.3em;
    margin-right: 0.3em;
  }
}

.markdown-preview-view:not(.allow-fold-headings) .heading-collapse-indicator {
  display: none !important;
}

/* ===================================== LINKS ===================================== */
.cm-s-obsidian span.cm-hmd-internal-link,
.markdown-preview-view .internal-link,
.cm-s-obsidian span.cm-hmd-internal-link:hover,
.markdown-preview-view .internal-link:hover {
  font-weight: revert;
  text-transform: none;
  font-size: inherit;
  letter-spacing: normal;
  background-color: revert;
}

.cm-commenturl:hover,
.cm-s-obsidian span.cm-link:hover,
.markdown-source-view.mod-cm6 .cm-underline:hover,
.external-link:hover {
  background: transparent;
}

.cm-s-obsidian span.cm-hashtag::before {
  content: '';
}

.cm-s-obsidian span.cm-hashtag,
.tag:not(.token) {
  display: revert !important;
}

.is-live-preview.cm-s-obsidian .cm-line:not(.cm-active) span.cm-comment,
.is-live-preview.cm-s-obsidian .cm-line:not(.cm-active) span.cm-comment:before {
  vertical-align: revert !important;
}

.external-link {
  text-decoration: none !important;
}

.external-link:after,
.cm-commenturl:after {
  background-color: var(--text-accent) !important;
  vertical-align: top;
  margin-left: 1px;
  text-decoration: none !important;
}

.is-mobile .external-link:after,
.is-mobile .cm-commenturl:after {
  display: none;
}

.cm-s-obsidian span.cm-comment {
  opacity: 0.5;
  font-size: calc(var(--clutter) + 5px);
}

.cm-line:not(.cm-active)>span.cm-comment+span.data-link-icon,
.cm-line:not(.cm-active)>span.cm-comment+*+span.data-link-icon {
  opacity: 0.5 !important;
}

.cm-active.cm-line>span.cm-comment,
.cm-active.cm-line span.cm-comment.cm-hmd-internal-link.cm-link-alias {
  opacity: 1 !important;
}

.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
  background-color: var(--background-primary-alt);
}

.cm-s-obsidian span.cm-link:hover {
  background-color: transparent;
  color: revert;
}

span.cm-hmd-internal-link :not([data-link-type]) .cm-underline:hover,
.cm-s-obsidian span.cm-link .cm-underline:hover {
  background-color: var(--bg-hover-link);
  color: var(--link-hover);
}