/*
=================================================================================
=                        MINIMAL TWEAKS                                          =
=        credit : Mara-Li ;  kepano                                             =
=        This snippet adjust somes appareance for the theme MINIMAL             =
=        Theme : https://github.com/kepano/obsidian-minimal                     =
=        It mainly add support for folder_note.css.                             =
=================================================================================
*/

/* @settings
name: Minimal Tweaks Settings
id: T-Min
settings:
    -
        id: font-frontmatter-comment
        title: Frontmatter & Comment font
        type: variable-text
        description: Font used for frontmatter and comment
        default: var(--font-monospace)

*/

:root {
    --normal-weight: 400;
    --font-code: 20px;
    --bold-weight: 800;
    --font-frontmatter-comment: var(--font-monospace);
}

.is-mobile {
    --font-adaptive-normal: var(--font-adaptive-normal);
}

.is-mobile .nav-folder-title {
    margin-bottom: 0;
}

.cm-s-obsidian span.cm-inline-code,
.markdown-preview-view code {
    font-size: var(--font-adaptive-normal);
}



p {
    font-family: var(--text-editor);
}


.contextual-typography .markdown-preview-view.markdown-preview-view .markdown-preview-sizer {
    display: revert;
    flex-direction: revert;
    width: revert;
    padding-left: revert;
    padding-top: revert;
}

div[data-tag-name="p"]+div[data-tag-name="ul"] {
    margin-top: revert;
}

/*
.markdown-source-view.mod-cm6 .list-bullet:after {
    top: -2px;
    left: -3px;
}

/*body,
body body input,
body body button {
    font-feature-settings: normal !important;
    font-family: var(--default-font) !important;
}
*/

span.cm-comment,
span.cm-hmd-frontmatter {
    font-family: var(--font-frontmatter-comment) !important;
}

.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
    background-color: var(--cm-background-color);
}

/* ===================================== LINKS ===================================== */

.cm-s-obsidian span.cm-hmd-internal-link,
.markdown-preview-view .internal-link,
.cm-s-obsidian span.cm-hmd-internal-link:hover,
.markdown-preview-view .internal-link:hover {
    font-weight: revert;
    text-transform: none;
    font-size: inherit;
    letter-spacing: normal;
    background-color: revert;
}

.cm-commenturl:hover,
.cm-s-obsidian span.cm-link:hover,
.markdown-source-view.mod-cm6 .cm-underline:hover,
.external-link:hover {
    background: transparent;
}

.cm-s-obsidian span.cm-hashtag::before {
    content: '';
}

.cm-s-obsidian span.cm-hashtag,
.tag:not(.token) {
    display: revert !important;
}

.is-live-preview.cm-s-obsidian .cm-line:not(.cm-active) span.cm-comment,
.is-live-preview.cm-s-obsidian .cm-line:not(.cm-active) span.cm-comment:before {
    vertical-align: revert !important;
}

.external-link {
    text-decoration: none !important;
}

.external-link:after,
.cm-commenturl:after {
    background-color: var(--text-accent) !important;
    vertical-align: top;
    margin-left: 1px;
    text-decoration: none !important;
}

.is-mobile .external-link:after,
.is-mobile .cm-commenturl:after {
    display: none;
}

.cm-s-obsidian span.cm-comment {
    opacity: 0.5;
    font-size: calc(var(--clutter) + 5px);
}

.cm-line:not(.cm-active)>span.cm-comment+span.data-link-icon,
.cm-line:not(.cm-active)>span.cm-comment+*+span.data-link-icon {
    opacity: 0.5 !important;
}

.cm-active.cm-line>span.cm-comment,
.cm-active.cm-line span.cm-comment.cm-hmd-internal-link.cm-link-alias {
    opacity: 1 !important;
}

.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
    background-color: var(--background-primary-alt);
}

.cm-s-obsidian span.cm-link:hover {
    background-color: transparent;
    color: revert;
}

span.cm-hmd-internal-link :not([data-link-type]) .cm-underline:hover,
.cm-s-obsidian span.cm-link .cm-underline:hover {
    background-color: var(--bg-hover-link);
    color: var(--link-hover);
}


.markdown-preview-view hr {

  border-width: 1px 0 0 0;
  margin: 0 0;
}

/* ================================= SIDEBAR ================================================================= */

@media only screen and (min-device-width: 1080px) {
  .day.svelte-3pptg2,
  #calendar-container .month, #calendar-container .title, #calendar-container .year {
      color: var(--tx2) !important;
  }
  
  .colorful-active #calendar-container .active,
   .colorful-active #calendar-container .active.today,
  .colorful-active #calendar-container .active:hover,
  .colorful-active #calendar-container .day:active, .colorful-active .menu-item.selected:not(.is-disabled):not(.is-label),
  .colorful-active .menu-item:hover, .colorful-active .menu-item:hover:not(.is-disabled):not(.is-label),
  .colorful-active .nav-file-title.is-active, .colorful-active .nav-file-title.is-being-dragged,
  .colorful-active .vertical-tab-nav-item.is-active, body.colorful-active:not(.is-grabbing) .nav-file-title.is-active:hover,
  .day-view.svelte-1uhffao span {
      color: var(--tx1) !important;
  }
  
  span.svelte-1e1nyi2.day-view {
    opacity: 0.5;
  }
  
  .workspace-ribbon-collapse-btn {
      background-color: revert !important;
  }
  
  hr.svelte-li8ss6.svelte-li8ss6 {
  border-color: transparent !important;
  }
  
  .workspace-split.mod-right-split>.workspace-leaf-resize-handle,
  hr.svelte-li8ss6.svelte-li8ss6 {
          --background-divider: #181a1f;
          --ui3: hsl(var(--base-h), var(--base-s), calc(var(--base-l) + 20%));
          --background-modifier-border-focus: hsl(var(--base-h), var(--base-s), calc(var(--base-l) + 20%));
          --background-modifier-border-hover: hsl(var(--base-h), var(--base-s), calc(var(--base-l) + 8%));
  }
  
  .workspace-split.mod-right-split>.workspace-leaf-resize-handle:hover {
        --background-modifier-border-hover: hsl(var(--base-h), var(--base-s), calc(var(--base-l) + 8%));
  }
  
  .viewing.svelte-3pptg2 {
    border: 1px solid var(--icon-color) !important;
  }
  
  #calendar-container .active, #calendar-container .active.today, #calendar-container .day:hover, #calendar-container .week-num:hover {
    background-color: var(--color-background-day-active) !important;
  }
  
  svg.note-glyph {
    color: var(--icon-color);
    opacity: var(--icon-muted);
  }
  
  .workspace-split.mod-horizontal.mod-right-split:not(.workspace-ribbon-collapse-btn),
  .workspace-ribbon.mod-right:not(.workspace-ribbon-collapse-btn),
  .workspace-split.mod-right-split .view-content,
  #calendar-container,
  .day.svelte-3pptg2,
  span.svelte-1e1nyi2.day-view,
  .day-view.svelte-1uhffao,
  svg.note-glyph
  #calendar-container .month, #calendar-container .title, #calendar-container .year {
      --base-h: 220;
      --base-s: 12%;
      --base-l: 18%;
      --accent-h: 220;
      --accent-s: 86%;
      --accent-l: 65%;
      --bg1: #282c34;
      --bg2: #21252c;
      --bg3: #3a3f4b;
      --background-divider: #181a1f;
      --tx1: #d8dae1;
      --tx2: #898f9d;
      --tx3: #5d6370;
      --ax1: #578af2;
      --ax3: #578af2;
      --hl1: rgba(114, 123, 141, 0.3);
      --hl2: rgba(209, 154, 102, 0.3);
      --sp1: #fff;
      --text-normal: var(--tx1);
      --text-day: var(--tx1);
      --text-bold: var(--tx1);
      --text-italic: var(--tx1);
      --text-muted: var(--tx2);
      --text-faint: var(--tx3);
      --title-color: var(--tx1);
      --title-color-inactive: var(--tx2);
      --text-code: var(--tx4);
      --text-error: var(--red);
      --text-blockquote: var(--tx2);
      --text-accent: var(--ax1);
      --text-accent-hover: var(--ax2);
      --text-on-accent: white;
      --text-selection: var(--hl1);
      --text-highlight-bg: var(--hl2);
      --background-primary: var(--bg2);
      --background-primary-alt: var(--bg2);
      --background-secondary: var(--bg2);
      --background-secondary-alt: var(--bg1);
      --background-tertiary: var(--bg3);
      --background-table-rows: var(--bg2);
      --background-modifier-form-field: var(--bg1);
      --background-modifier-form-field-highlighted: var(--bg1);
      --interactive-hover: var(--ui1);
      --interactive-accent: var(--ax3);
      --interactive-accent-hover: var(--ax3);
      --background-modifier-accent: var(--ax3);
      --background-modifier-border: var(--ui1);
      --background-modifier-border-hover: var(--ui2);
      --background-modifier-border-focus: var(--ui3);
      --background-modifier-success: var(--green);
      --background-divider: var(--ui1);
      --quote-opening-modifier: var(--ui2);
      --modal-border: var(--ui2);
      --icon-color: var(--tx2);
      --icon-color-hover: var(--tx2);
      --icon-color-active: var(--tx1);
      --icon-hex: var(--mono0);
}
}
/*.is-mobile .workspace-drawer-header-icon {
    display: revert;
}

.is-mobile .sync-status-icon {
    margin-top: 5px !important;
}*/
