.obsidian-icon-folder-icon {
    position: relative;
    top: -1px;
    padding: 0 4px 0 0 !important;
}

@media only screen and (min-device-width: 1024px) {
    /* PC */
    .nav-files-container {
        padding: 0;
    }
    .show-full-titles .nav-file-title-content {
        margin-left: 0px;
    }
    .obsidian-icon-folder-icon+.nav-file-title-content {
        padding-left: 0.2em !important;
    }
    .nav-file-title .obsidian-icon-folder-icon  svg {
        margin-left: 10px !important;
    }

    .nav-file-title-content {
        padding-left: 10px !important;
    }
    .nav-folder-children .nav-file-title-content:first-child::before {
        margin-left: 0.25em !important;
    }
    .alx-folder-with-note .nav-folder-title[data-path*="Illustration"] .obsidian-icon-folder-icon  svg {
        margin-left: 0 !important;
        margin-right: 1.3em !important;
        position: relative;
        left: 0 !important;
    }
    .nav-file-title[data-path*="Personnages/"] .obsidian-icon-folder-icon  svg {
        margin-left: 0.5em !important;
    }
    .nav-folder-title[data-path*="20. Compendium/"] .obsidian-icon-folder-icon  svg {
        margin-left: 0 !important;
        margin-right: 0.2em !important;
    }
    .nav-folder-title[data-path*="Personnages/"]>.obsidian-icon-folder-icon+.nav-folder-title-content {
        padding-left: 0 !important;
    }
    .alx-folder-with-note .nav-folder-title[data-path*="40. Média/"],
    .nav-file-title[data-path*="40. Média/"] {
        position: relative;
        left: 0.5em;
    }
    .nav-file-title[data-path*="Bookmark/"], 
    .nav-file-title[data-path*="testing"] { 
        position: relative;
        left: 0.3em;
    }
    .nav-file-title[data-path*="Bookmark/"] .nav-file-title-content,
    .nav-file-title[data-path*="testing"] .nav-file-title-content {
        padding-left: 0 !important;
    }
    .nav-folder-title[data-path*="Professeur"]>*,
    .nav-folder-title[data-path*="Notes"]>*,
    .nav-folder-title[data-path*="Blog"]>* {
        position: relative;
        left: -0.7em;
        margin-right: 0.3em;
    }
}

@media only screen and (max-device-width: 1024px) {
    .nav-file-title-content {
        padding-left: 10px;
    }
    .obsidian-icon-folder-icon+.nav-file-title-content {
        padding-left: 0.1em !important;
    }
    .obsidian-icon-folder-icon+.nav-folder-title-content {
        padding-left: 0.1em !important;
    }
    .nav-file-title .obsidian-icon-folder-icon  svg {
        margin-left: 0.5em !important;
    }
    .workspace-drawer {
        height: 100% !important;
    }
    .is-mobile div.nav-files-container.node-insert-event.show-unsupported {
        padding: 16px 4px 8px;
    }
    .alx-folder-with-note .nav-folder-title[data-path*="Illustration"] .obsidian-icon-folder-icon  svg {
        position: relative;
        left: 0;
        margin-right: 0.25em !important;
    }
    .alx-folder-with-note .nav-folder-title[data-path*="40. Média/"] {
        position: relative;
        left: 0;
    }
    .alx-folder-with-note .nav-folder-title[data-path*="22. Personnages/"] .collapse-icon,
    .alx-folder-with-note .nav-folder-title[data-path*="21. Idées/"] .collapse-icon {
        display: inline-block;
        right: 25px;
        position: relative;
        font-size: calc(var(--size) - 1px) !important;
        padding-left: 1px !important;
    }
    .nav-file-title-content:before {
        margin-right: -2px;
        margin-left: 4px;
    }
    .nav-folder-title[data-path*="Illustration"] .nav-folder-title-content {
        margin-left: 0.9em !important;
    }
    .alx-folder-with-note .nav-folder-title[data-path*="Personnages/"] .obsidian-icon-folder-icon  svg {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .nav-folder-title[data-path*="22. Personnages/"] .nav-folder-title-content,
    .nav-folder-title[data-path*="22. Personnages/"] .obsidian-icon-folder-icon  svg {
        position: relative !important;
        right: 1.05em;
    }
    .nav-file-title[data-path*="Templater"] .obsidian-icon-folder-icon  svg {
        margin-right: 0.25em !important;
    }
    .nav-folder-title[data-path*="Pouvoir"] .obsidian-icon-folder-icon  svg,
    .nav-folder-title[data-path*="Écho"] .obsidian-icon-folder-icon  svg {
        margin-left: 1em !important;
    }
    .nav-folder-title[data-path*="Idées/"] .nav-folder-title-content,
    .nav-folder-title[data-path*="Idées/"] .obsidian-icon-folder-icon  svg {
        position: relative !important;
        right: 2em !important;
    }
    .nav-folder-title[data-path*="Professeur"]>*,
    .nav-folder-title[data-path*="Notes"]>*,
    .nav-folder-title[data-path*="Blog"]>* {
        position: relative;
        right: 1em;
        margin-right: 2px;
    }
    .nav-folder-title[data-path*="Professeur"]{
        margin-left: -1px !important;
    }
    .nav-file-title[data-path*="testing"] .nav-file-title-content {
        padding-left: 4px !important;
    }
    .nav-file-title[data-path*="Bookmark"] .nav-file-title-content,
    .nav-file-title[data-path*="Inbox"] .nav-file-title-content {
        left: 0;
    }
    

}